<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AdminLTE 3 | Dashboard</title>

    <th:block id="css">
        <!-- Summernote -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/dist/css/style.css">
        <style>
            .note-editor {
                z-index: 1000;
                background-color: white;
            }
            .note-toolbar {
                border-bottom: 1px solid #F1F2F4;
            }
            .modal-backdrop {
                position: unset !important;
            }
        </style>
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/post">Danh sách bài viết</a>
                            </li>
                            <li class="breadcrumb-item active">Tạo bài viết</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btn-create">
                            Tạo mới
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form-post">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group mb-3">
                                                <label for="title">Tiêu đề</label>
                                                <input type="text" class="form-control" name="title" id="title"/>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label for="content">Nội dung</label>
                                                <textarea id="content" name="content"></textarea>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label for="description">Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="3" name="description"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group mb-3">
                                                <label for="status">Trạng thái</label>
                                                <select id="status" class="form-control">
                                                    <option value="0">
                                                        Nháp
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="type">Loại bài viết</label>
                                                <select id="type" class="form-control">
                                                    <option th:each="type : ${types}" th:value="${type}">
                                                        [[${type}]]
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="slug">Slug</label>
                                                <input id="slug" class="form-control">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="input-thumbnail">Poster</label>
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img src="https://i.fbcd.co/products/resized/resized-750-500/563d0201e4359c2e890569e254ea14790eb370b71d08b6de5052511cc0352313.jpg" alt="" id="thumbnail" />
                                                </div>
                                                <label for="input-thumbnail" class="btn btn-info btn-flat">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-thumbnail" class="d-none">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!-- Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            let content = $('#content').data('content');
            $('#content').summernote({
                placeholder: 'Enter Content',
                height: 305,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                  // set focus to editable area after initializing summernote
            }).summernote('code',  content);
        });

        // validation
        $('#form-post').validate({
            rules: {
                title: {
                    required: true,
                },
                content: {
                    required: true,
                },
                description: {
                    required: true,
                },
                slug: {
                    required: true,
                }
            },
            messages: {
                title: {
                    required: "Vui lòng nhập tiêu đề"
                },
                content: {
                    required: "Vui lòng nhập nội dung bài viết"
                },
                description: {
                    required: "Vui lòng nhập mô tả bài viết"
                },
                slug: {
                    required: "Vui lòng không để trống slug",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group mb-3').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        const btnCreate = document.getElementById("btn-create");

        btnCreate.addEventListener("click", async (e) => {
            e.preventDefault()

            if (!$('#form-post').valid()){
                return;
            }
            const data = {
                title: $('#title').val(),
                content: $('#content').val(),
                description: $('#description').val(),
                type: $('#type').val(),
                slug: $('#slug').val(),
                thumbnail: $('#thumbnail').attr('src') || '',
                status: parseInt($('#status').val(), 10) === 1,
            }

            try {
                let res = await axios.post("/admin/api/v1/post/create", data);
                toastShow("Tạo bài viết thành công", "success",);
                setTimeout(() => {
                    window.location.href = "/admin/post";
                }, 1000)
            } catch (error) {
                console.log(error)
                toastShow(error.response.data.message, "error")
            }
        })

        const btnUploadThumbnail = document.getElementById("input-thumbnail");
        const posterEl = document.getElementById("thumbnail");
        btnUploadThumbnail.addEventListener("change", async (e) => {
            const files = e.target.files

            const formData = new FormData()
            formData.append("file", files[0])

            await uploadFile(formData, posterEl)
        })

    </script>
</th:block>

</body>

</html>