<!DOCTYPE html>
<html>
<body>
<footer>
    <div class="container">
        <div class="row">
            <div class="footer-content col-lg-3 col-6">
                <h3>Giới thiệu</h3>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Thoả thuận sử dụng</li>
                    <li>Quy chế hoạt động</li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
            <div class="footer-content col-lg-3 col-6">
                <h3>Góc điện ảnh</h3>
                <ul>
                    <li>
                        <a class="text-white" href="/posts?type=review">
                            Bình luận phim
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/posts?type=blog">
                            Blog điện ảnh
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-content col-lg-3 col-6">
                <h3>Hỗ trợ</h3>
                <ul>
                    <li>
                        <a class="text-white" href="/posts">
                            Rạp/Giá vé
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/posts">
                            Góp Ý
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-content col-lg-3 col-6">
                <div class="logo">
                    <a href="/">
                        <span class="logo">VCinema</span>
                    </a>
                </div>
                <ul>
                    <li>
                        <a class="ms-4 text-white fs-18px" href="#">
                            <i class="fa-brands fa-facebook fa-xl"></i>
                            <span class="ms-3">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a class="ms-4 text-white fs-18px" href="#">
                            <i class="fa-brands fa-instagram fa-xl"></i>
                            <span class="ms-3">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a class="ms-4 text-white fs-18px" href="#">
                            <i class="fa-brands fa-youtube fa-xl"></i>
                            <span class="ms-3">Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>