<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="content">
    <nav class="container">
        <div class="header-menu">
            <div class="logo">
                <a href="/">
                    <img src="https://www.galaxycine.vn/_next/static/media/galaxy-logo-mobile.074abeac.png" alt="logo">
                </a>
            </div>
            <nav class="menu-item d-none d-xl-block">
                <ul>
                    <li>
                        <a href="/booking">
                            <img class="ticket-logo" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"
                                 alt="ticket">
                        </a>
                    </li>
                    <li><a href="#">Phim</a></li>
                    <li><a href="/blogs">Góc Điện Ảnh</a></li>
                    <li><a href="#">Sự Kiện</a></li>
                    <li><a href="#">Rạp/Giá Vé</a></li>
                </ul>
            </nav>
            <div class="menu-right">
                <div class="search d-none d-xl-flex">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="login-btn">
                    <a href="">Đăng Nhập</a>
                </div>
                <button class="btn d-xl-none" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>

        <div class="sub-menu">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasResponsive"
                 aria-labelledby="offcanvasResponsiveLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <input class="sub-menu-search" type="text" placeholder="Tìm kiếm">
                    </div>
                    <img class="ticket" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"
                         alt="ticket">
                    <div class="sub-menu-item">
                        <ul>
                            <li><a href="#">Phim</a></li>
                            <li><a href="#">Góc Điện Ảnh</a></li>
                            <li><a href="#">Sự Kiện</a></li>
                            <li><a href="#">Rạp/Giá Vé</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>