header .header-menu {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo img {
    height: 65px;
    object-fit: cover;
}
.ticket-logo {
    width: 112px;
    height: 36px;
}
.menu-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item ul li {
    margin: 0 20px;
    font-size: 14px;
}
.menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-right .login-btn {
    font-size: 14px;
}
.sub-menu-search {
    height: 40px;
    width: 90%;
}
.sub-menu-item ul li {
    margin-top: 8px;
    font-size: 14px;
}
.sub-menu-search {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    padding: 8px 40px;
}

.modal-content {

}

@media only screen and (max-width: 768px) {
    .logo img {
        height: 50px;
        object-fit: cover;
    }
}

.dropdown-menu li:hover {
    border-left: 3px solid #F58020FF !important ;
}