<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-detail}, ~{:: #js})}">
<head>
    <title th:text="${movie.name}"></title>
    <th:block id="css">
        <style>
            input::selection,
            option::selection{
                background-color: white;
            }

            select {
                height: 100% !important;
            }
        </style>
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-detail">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movies">Movie</a>
                            </li>
                            <li class="breadcrumb-item active"
                                th:text="${movie.name}">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btn-update">
                            Lưu
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger px-4" id="btn-delete">
                            Xóa
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form-movie">
                                    <div class="row">
                                        <div class="col-md-8 ">
                                            <div class="form-group">
                                                <label for="name">Tên phim</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                       th:value="${movie.name}"/>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="slug">Slug</label>
                                                <input type="text" class="form-control" id="slug" name="slug"
                                                       th:value="${movie.getSlug()}"/>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="trailer">Trailer URL</label>
                                                <textarea id="trailer" class="form-control" rows="3" name="trailer"
                                                          th:text="${movie.trailer}"></textarea>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="description">Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="5"
                                                          name="description" th:text="${movie.description}"></textarea>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="genre">Thể loại</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple" id="genre">
                                                        <option th:each="genre : ${movie.getGenres()}"
                                                                th:value="${genre.id}"
                                                                th:text="${genre.name}">
<!--                                                            th:selected="${movie.genres.contains(genre)}"-->
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Đạo diễn</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple" id="actor">
                                                        <option th:each="actor : ${actors}"
                                                                th:value="${actor.id}"
                                                                th:text="${actor.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="director">Đạo diễn</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="director">
                                                        <option th:each="director : ${movie.getDirectors()}"
                                                                th:value="${director.id}"
                                                                th:text="${director.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="producer">Nhà sản xuất</label>
                                                <input id="producer" type="text" class="form-control" th:value="${movie.getProducer()}">
                                            </div>
                                            <div class="form-group mt-3">
                                                <div class="banner-preview-container mb-3">
                                                    <img th:src="${movie.getBannerImg()}" alt="" id="bannerImg">
                                                </div>
                                                <label for="input-bannerImg" class="btn btn-info btn-flat"
                                                       data-toggle="modal" data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-bannerImg" class="d-none">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="status">Trạng thái</label>
                                                <select id="status" class="form-control"
                                                        th:value="${movie.status}? '1':'0'">
                                                    <option value="0" th:selected="${!movie.status}">
                                                        Nháp
                                                    </option>
                                                    <option value="1" th:selected="${movie.status}">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="releaseDate">Ngày phát hành</label>
                                                <input type="date" class="form-control" id="releaseDate"
                                                       name="releaseDate" th:value="${movie.releaseDate}"/>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="graphicsType">Hình thức chiếu</label>
                                                <div class="select2-purple">
                                                    <select id="graphicsType" class=" form-control" multiple="multiple">
                                                        <option th:each="graphicType : ${movie.getGraphicsTypes()}"
                                                                th:value="${graphicType}"
                                                                th:text="${graphicType}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="translationTypes">Hình thức dịch</label>
                                                <select id="translationTypes" class="form-control">
                                                    <option th:each="graphicType : ${movie.getTranslationTypes()}"
                                                            th:text="${graphicType}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="ageRequirement">Giới hạn tuổi</label>
                                                <input id="ageRequirement" type="text" class="form-control" th:value="${movie.getAgeRequirement()}">
                                            </div>


                                            <div class="form-group mt-3">
                                                <label for="country">Quốc gia</label>
                                                <select id="country" class="form-control">
                                                    <option th:each="country : ${movie.getCountry()}"
                                                            th:value="${country.id}"
                                                            th:text="${country.name}">
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group mt-3">
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img th:src="${movie.getPoster()}" alt="" id="poster">
                                                </div>
                                                <label for="input-poster" class="btn btn-info btn-flat"
                                                       data-toggle="modal" data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-poster" class="d-none">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Danh sách tập phim</h4>
                                <button class="btn btn-sm btn-primary mb-2" type="button" data-toggle="modal"
                                        data-target="#modal-create">Tạo tập phim
                                </button>
                                <table class="table table-bordered table-hover" id="table-episode">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên tập phim</th>
                                        <th>Video URL</th>
                                        <th>Thời lượng</th>
                                        <th>Ngày tạo</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="episode : ${episodes}">
                                        <td th:text="${episode.displayOrder}">#</td>
                                        <td th:text="${episode.name}">Tên tập phim</td>
                                        <td th:text="${episode.videoUrl}">Video URL</td>
                                        <td th:text="${episode.duration}">Thời lượng</td>
                                        <td th:text="${#temporals.format(episode.createdAt, 'dd/MM/yyyy')}">Ngày tạo
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-warning text-white">
                                                <i class="fas fa-upload"></i>
                                            </button>
                                            <button class="btn btn-sm btn-primary" type="button" data-toggle="modal"
                                                    data-target="#modal-trailer">
                                                <i class="fas fa-play"></i>
                                            </button>
                                            <button class="btn btn-sm btn-success">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="modal fade" id="modal-trailer">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <video width="100%" controls>
                                                    <source
                                                        src="https://res.cloudinary.com/dchrybytt/video/upload/v1713962259/upload_video/de6x2ox9zq60vq2n87x7.mp4"
                                                        type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="modal-create" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Tạo tập phim</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group mt-3">
                                                        <label>Tên tập phim</label>
                                                        <input type="text" class="form-control" id="episode-name"
                                                               placeholder="Tập 1, Tập 2, ..."/>
                                                    </div>

                                                    <div class="form-group mt-3">
                                                        <label>Thứ tự tập phim</label>
                                                        <input type="text" class="form-control"
                                                               id="episode-displayOrder" placeholder="1, 2, 3, ..."/>
                                                    </div>

                                                    <div class="form-group mt-3">
                                                        <label>Thời lượng tập phim</label>
                                                        <input type="text" class="form-control" id="episode-duration"
                                                               placeholder="45 phút, 120 phút"/>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button id="episode-create-btn" type="button" class="btn btn-primary">
                                                    Tạo mới
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <!-- AdminLTE App -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>

    <!-- Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--    Movie JS    -->
    <!--<script>
        $(".select2").select2();

        // validation
        $('#form-movie').validate({
            rules: {
                name: {
                    required: true,
                },
                releaseYear: {
                    required: true,
                },
                description: {
                    required: true,
                },
                trailer: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Vui lòng nhập tiêu tên phim"
                },
                releaseYear: {
                    required: "Vui lòng nhập năm phát hành"
                },
                description: {
                    required: "Vui lòng nhập mô tả"
                },
                trailer: {
                    required: "Vui lòng nhập trailer"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        const nameEl = document.getElementById("name")
        const trailerEl = document.getElementById("trailer")
        const descriptionEl = document.getElementById("description")
        const releaseYearEl = document.getElementById("releaseYear")
        const statusEl = document.getElementById("status")
        const movieTyeEl = document.getElementById("type")
        const countryEl = document.getElementById("country")
        const btnUpdate = document.getElementById("btn-update")
        const btnDelete = document.getElementById("btn-delete")

        $('#genre').val(movie.genres.map(genre => genre.id.toString()))
        $('#genre').trigger('change');

        $('#actor').val(movie.actors.map(actor => actor.id.toString()))
        $('#actor').trigger('change');

        $('#director').val(movie.directors.map(director => director.id.toString()))
        $('#director').trigger('change');

        // update
        btnUpdate.addEventListener("click", async (e) => {
            e.preventDefault()

            if (!$('#form-movie').valid()) {
                return;
            }

            const data = {
                name: nameEl.value,
                trailer: trailerEl.value,
                description: descriptionEl.value,
                releaseYear: releaseYearEl.value,
                status: statusEl.value === "1",
                type: movieTyeEl.value,
                countryId: countryEl.value,
                genreIds: $('#genre').val(),
                actorIds: $('#actor').val(),
                directorIds: $('#director').val(),
            }

            try {
                const res = await axios.put(`/api/admin/movies/${movie.id}`, data)
                toastr.success("Cập nhật movie thành công")
                setTimeout(() => {
                    window.location.href = "/admin/movies";
                }, 1000)
            } catch (error) {
                console.log(error)
                toastr.error(error.response.data.message)
            }
        })

        // delete
        btnDelete.addEventListener("click", async (e) => {
            const confirm = window.confirm("Bạn có chắc muốn xóa không?")
            if (!confirm)
                return;

            try {
                const res = await await axios.delete(`/api/admin/movies/${movie.id}`)
                toastr.success("Xóa movie thành công ")
                setTimeout(() => {
                    window.location.href = "/admin/movies";
                }, 1000)
            } catch (error) {
                console.log(error)
                toastr.error(error.response.data.message)
            }
        })

        // upload poster
        const inputPosterEl = document.getElementById("input-poster");
        const posterEl = document.getElementById("poster")

        inputPosterEl.addEventListener("change", async (event) => {
            const files = event.target.files

            const formData = new FormData()
            formData.append("file", files[0])

            try {
                const res = await axios.post(`/api/admin/movies/${movie.id}/upload-poster`, formData)
                console.log(res)
                posterEl.src = res.data
                toastr.success("Upload poster thành công")
            } catch (error) {
                console.log(error)
                toastr.error(error.data.message)
            }
        })
    </script>-->
</th:block>
</body>
</html>