<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Movie</title>

    <th:block id="css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <div class="content-index">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movie">Movie</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-12">
                        <a href="/admin/movie/create">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Tạo phim
                            </button>
                        </a>
                        <a href="/admin/movie">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-redo"></i> Refresh
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-responsive table-striped" id="table-movie">
                                    <thead>
                                    <tr>
                                        <th>Tên phim</th>
                                        <th class="text-center">Ngày công chiếu</th>
                                        <th class="text-center">Thể loại</th>
                                        <th class="text-center">Rating</th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="text-end">Ngày tạo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="movie : ${movies}">
                                        <td>
                                            <a th:href="@{/admin/movie/{id} (id=${movie.id})}" th:text="${movie.name}">Tên phim</a>
                                        </td>
                                        <td th:text="${movie.getReleaseDate()}">

                                        </td>
                                        <td>
                                            <span th:each="genre, iterStat : ${movie.genres}">
                                                <th:block th:if="${iterStat.index != 0}">, </th:block>
                                                <th:block th:text="${genre.name}"></th:block>
                                            </span>
                                        </td>

                                        <td>
                                            <span th:text="${movie.rating == null ? 0 : movie.rating}"></span>
                                            <span style="color: #EDBB0E"><i class="fas fa-star"></i></span>
                                        </td>
                                        <td th:text="${movie.status ? 'Công khai' : 'Nháp'}">Công khai</td>
                                        <td th:text="${movie.getCreatedAt()}">06-07-2022</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block id="js">
    <script>
        $('#table-movie').DataTable({
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [10, 25, 50, 100],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "language" : languageTable,
            "createdRow": function(row, data, dataIndex) {
                $('td', row).eq(0).addClass('text-start');
                $('td', row).eq(5).addClass('text-end');
                $('td', row).eq(1).addClass('text-center');
                $('td', row).eq(2).addClass('text-center');
                $('td', row).eq(3).addClass('text-center');
                $('td', row).eq(4).addClass('text-center');
            },
        });
    </script>
</th:block>

</body>
</html>