<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Movie</title>

    <th:block id="css">
        <!--  Datatable  -->
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.bootstrap5.min.css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-index">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movies">Movie</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-12">
                        <a href="/admin/movie/create">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Tạo phim
                            </button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-redo"></i> Refresh
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover" id="table-blog">
                                    <thead>
                                    <tr>
                                        <th>Tên phim</th>
                                        <th>Ngày công chiếu</th>
                                        <th>Thể loại</th>
                                        <th>Rating</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày tạo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="movie : ${movies}">
                                        <td>
                                            <a th:href="@{/admin/movie/{id} (id=${movie.id})}" th:text="${movie.name}">Tên phim</a>
                                        </td>
                                        <td th:text="${movie.getReleaseDate()}">

                                        </td>
                                        <td>
                                            <span th:each="genre, iterStat : ${movie.genres}">
                                                <th:block th:if="${iterStat.index != 0}">, </th:block>
                                                <th:block th:text="${genre.name}"></th:block>
                                            </span>
                                        </td>

                                        <td>
                                            <span th:text="${movie.rating == null ? 0 : movie.rating}"></span>
                                            <span style="color: #EDBB0E"><i class="fas fa-star"></i></span>
                                        </td>
                                        <td th:text="${movie.status ? 'Công khai' : 'Nháp'}">Công khai</td>
                                        <td th:text="${movie.getCreatedAt()}">06-07-2022</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block id="js">
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $('#table-blog').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    </script>
</th:block>

</body>
</html>