.booking-bar ul li {
    margin: 1rem 0;
    font-weight: 600;
    color: #D0D0D0;
}

.booking-bar ul {
    background-color: white;
    font-size: 1rem;
}

.booking-bar ul li .process {
    margin: 0 .75rem;
}

.booking-bar ul li .process-line {
    margin-top: 1rem;
    border-bottom: 2px solid #D0D0D0;
}

.accordion-button {
    box-shadow: none !important;
}

.accordion-body {
    padding: .5rem 1.25rem 1rem;
}

.screen-line {
    border: 2px solid rgb(245 128 32);
}

.date-btn {
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    font-size: 14px;
}

main {
    background-color: #F9F9F9;
}

@media only screen and (max-width: 426px) {
    .booking-bar ul {
        font-size: 0.688rem;
    }
}

.accordion-title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 700;
}


.accordion-body button:hover,
.accordion-body button.active{
    color: white !important;
    background: #034EA2 !important;
}

.accordion-button:not(.collapsed) {
    color: black;
    background: none;
}

.movie-select {
    padding: .5rem;
}
.movie-select h5 {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 18px;
}
.movie-select img{
    height: 270px;
}

.current-showtime {
    background: white;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.line-ticket {
    height: 6px;
    background-color: rgb(245 128 32);
}

.modal-ticket {
    background-color: transparent !important;
    padding: 1rem !important;
    border: none!important;
}

.modal-ticket .modal-body{
    border: 1px solid white !important;
    border-radius: 10px;
    padding: 1.5rem !important;
    overflow: hidden!important;
}

.modal-ticket p{
    margin: 0;
}
.modal-line {
    border: 2px dashed gray;
    position: relative;
}

.seat {
    margin: 5px;
    display: inline-block;
    text-align: center;
    padding: .2rem 0;
    width: 25px;
    height: 25px;
    font-size: 12px;
}
.div-seat-double {
    border: 1px solid plum;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    height: 25px;
    display: flex;
}

.seat:hover,
.div-seat-double:hover{
    border-color: #034EA2 !important;
    transform: scale(1.1);
}
#seat-map button.active,
.div-seat-double.active{
    background-color: #034EA2 !important;
    pointer-events: auto!important;
    color: white !important;
}
.div-seat-double.active button {
    color: white;
}

/* Class tuỳ chỉnh cho khoảng cách giữa các item */
.seat-type-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
}

/* Class tuỳ chỉnh cho việc làm đậm giá */
.seat-type-item .fw-bold {
    font-size: 1.1rem;
}

/* Class tuỳ chỉnh để canh giữa nội dung */
.seat-type-item .text-end {
    font-size: 1.1rem;
}


.seat-list {
    display: flex;
    justify-content: center;
}

.seat-row {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}

.seat-vip {
    border-color: #f58a20 !important;
}

.seat-sold {
    background-color: gray;
    cursor: none!important;
    pointer-events: none!important;
}

.seat-double {
    border: none;
    margin: 0;
    padding: 0 !important;
    height: 25px;
    width: 25px;
}

.seat-hover {
    border-color: gold !important;
    background-color: gold;
    pointer-events: none;
}
.seat-hover,
.seat-hover button {
    color: white;
}

.seat-demo {
    margin: 5px;
    padding: .2rem 0;
    width: 25px;
    height: 25px;
}

.payment-logo {
    width: 50px;
    height: 50px;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 2rem auto;
    }
}

._failed{ border-bottom: solid 4px red !important; }
._failed i{  color:red !important;  }

._success {
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

._success i {
    font-size: 55px !important;
    color: #28a745;
}

._success h2 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

._success p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #495057;
    font-weight: 500;
}
a:hover {
    color: #034EA2 !important;
}