<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<title th:text="${movie.getName()}"></title>
<th:block id="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="/css/movie/detail.css">
    <link rel="stylesheet" href="/css/pages/index.css">
</th:block>
<body>
<main>
    <th:block id="content">
        <div class="trailer d-flex justify-content-center bg-black " style="max-height: 500px; overflow: hidden">
            <div class="position-relative">
                <img
                        th:src="${movie.getBannerImg()}"
                        th:alt="${movie.getName()}"
                        style="object-fit: cover; width: 860px; opacity: 0.7">
                <button id="play-trailer" onclick="playTrailer()" class="position-absolute border-0 p-0"
                        data-bs-toggle="modal"
                        data-bs-target="#trailer-modal"
                        style="top: 45%; left: 45%">
                    <i class="fa-solid fa-circle-play" style="font-size: 60px ;color: #ffffff;"></i>
                </button>
                <div class="modal fade" id="trailer-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content trailer-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="container mt-4">
            <div class="body-content ">
                <div class="row">
                    <div class="col-lg-9 pe-5">
                        <div class="header-content row" style="position: relative;">
                            <div class="col-4">
                                <img class="movie-detail-img"
                                     th:src="${movie.getPoster()}"
                                     th:alt="${movie.getName()}"
                                     style="max-height: 400px; max-width: 280px">
                            </div>
                            <div class="col-8 mt-3">
                                <h3 class="movie-title" th:text="${movie.getName()}"></h3>
                                <ul>
                                    <li class="mt-3 fw-600 fs-14px">
                                        <i class="fa-regular fa-clock" style="color: #f58a20;"></i>
                                        <span th:text="${movie.getDuration()}"></span>
                                        <span>Phút</span>
                                        <i class="ms-3 fa-regular fa-calendar" style="color: #f58a20;"></i>
                                        <span th:text="${movie.getReleaseDate()}"></span>
                                    </li>
                                    <li class="mt-2 movie-rating">
                                        <i class="fa-solid fa-star" style="color: #f58a20;"></i>
                                        <span th:text="${movie.getRating()}"></span>
                                    </li>
                                    <li class="mt-3 fs-14px ">
                                        <span class="text-black-50 fw-600">Quốc Gia: </span>
                                        <span class="ms-3" th:text="${movie.getCountry().getName()}"></span>
                                    </li>
                                    <li class="mt-2 fs-14px ">
                                        <span class="text-black-50 fw-600">Nhà sản xuất: </span>
                                        <span class="ms-3" th:text="${movie.getProducer()}"></span>
                                    </li>
                                    <li class="mt-3 fs-14px">
                                        <div class="col-3 d-flex flex-nowrap align-items-center w-100">
                                            <span class="text-black-50 fw-600">Thể loại:</span>
                                            <ul class="ms-3 d-flex flex-wrap flex-1" style="gap: 0.1rem">
                                                <li class="div-title ms-1 py-1 px-2  movie-sub-entity d-inline-block"
                                                    th:each="genre : ${movie.getGenres()}"
                                                    th:text="${genre.getName()}">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mt-3 fs-14px">
                                        <div class="col-3 d-flex flex-nowrap align-items-center w-100">
                                            <span class="text-black-50 fw-600">Đạo diễn: </span>
                                            <ul class="ms-3 d-flex flex-wrap flex-1" style="gap: 0.1rem">
                                                <li class="div-title ms-1 py-1 px-2  movie-sub-entity d-inline-block"
                                                    th:each="director : ${movie.getDirectors()}"
                                                    th:text="${director.getName()}">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mt-3 fs-14px">
                                        <div class="col-3 d-flex flex-nowrap align-items-center w-100">
                                            <span class="text-black-50 fw-600">Diễn viên: </span>
                                            <ul class="ms-3 d-flex flex-wrap flex-1" style="gap: 0.1rem">
                                                <li class="div-title ms-1 py-1 px-2 movie-sub-entity d-inline-block"
                                                    th:each="actor : ${movie.getActors()}"
                                                    th:text="${actor.getName()}">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="middle-content mt-5">
                            <span class="line-blue me-2"></span>
                            <p class="d-inline-block align-content-center"
                               style="font-weight: 700; font-size: 16px">
                                Nội Dung Phim</p>
                            <div>
                                <p th:utext="${movie.getDescription()}"
                                   style="font-size: 14px"
                                ></p>
                            </div>
                        </div>
                        <div class="middle-content mt-5">
                            <span class="line-blue me-2"></span>
                            <p class="d-inline-block align-content-center"
                               style="font-weight: 700; font-size: 16px">
                                Lịch Chếu
                            </p>
                            <div class="showtime-date row">
                                <div class="col-lg-7 d-flex justify-content-between">
                                    <div class="text-center">
                                        <span>Thứ năm</span>
                                        <br><span>01/08</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">hehe</div>
                            </div>
                            <div class="line-blue-bottom mt-4"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 new-movies">
                    </div>
                </div>
            </div>
        </main>
    </th:block>
</main>
<th:block id="js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="/js/fragments/new-movies.js"></script>
    <script th:inline="javascript">
        let trailer = [[${movie.getTrailer()}]]

        function playTrailer() {
            const trailerContent = document.querySelector(".trailer-content")
            trailerContent.innerHTML = `
             <iframe
                style = "width: 100%; height: 90vh"
                src="${trailer}"
                title = "YouTube video player"
                allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy = "strict-origin-when-cross-origin"
                allowfullscreen >
            </iframe>
            `;

            const trailerModalEl = document.getElementById('trailer-modal')
            trailerModalEl.addEventListener('hidden.bs.modal', event => {
                trailerContent.innerHTML = ``;
            })
        }
    </script>
</th:block>
</body>
</html>