<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<title th:text="${movie.getName()}"></title>
<th:block id="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="/web-asset/css/movie/detail.css">
</th:block>
<body>
<main>
    <th:block id="content">
        <div class="banner">
            <div class="center">
                <div class="item ">
                    <img src="https://cdn.galaxycine.vn/media/2024/6/13/io2-2048_1718251991479.jpg" alt="">
                </div>
                <div class="item ">
                    <img src="https://cdn.galaxycine.vn/media/2024/6/13/io2-2048_1718251991479.jpg" alt="">
                </div>
                <div class="item ">
                    <img src="https://cdn.galaxycine.vn/media/2024/6/13/io2-2048_1718251991479.jpg" alt="">
                </div>
            </div>
        </div>
        <main class="container mt-5">
            <div class="body-content ">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="header-content row" style="position: relative;">
                            <div class="col-4" >
                                <img class="movie-detail-img"
                                     th:src="${movie.getPoster()}"
                                     th:alt="${movie.getName()}"
                                     style="max-height: 400px; max-width: 280px">
                            </div>
                            <div class="col-8 ml-3">
                                <h3 class="movie-title" th:text="${movie.getName()}"></h3>
                                <ul>
                                    <li class="mt-3">
                                        <i class="fa-regular fa-clock" style="color: #f58a20;"></i>
                                        <span>100 phút</span>
                                        <i class="ms-3 fa-regular fa-calendar" style="color: #f58a20;"></i>
                                        <span th:text="${movie.getReleaseDate()}"></span>
                                    </li>
                                    <li class="mt-3 movie-rating">
                                        <i class="fa-solid fa-star" style="color: #f58a20;"></i>
                                        <span th:text="${movie.getRating()}"></span>
                                    </li>
                                    <li class="mt-3">
                                        <span class="text-black-50">Quốc Gia: </span>
                                        <span th:text="${movie.getCountry().getName()}"></span>
                                    </li>
                                    <li class="mt-3">
                                        <span class="text-black-50">Nhà sản xuất: </span>
                                        <span>Hehe</span>
                                    </li>
                                    <li class="mt-3">
                                        <div class="col-3 d-flex flex-nowrap align-items-center w-100">
                                            <span class="text-black-50">Thể loại:</span>
                                            <ul class="ms-2 d-flex flex-wrap gap-1 flex-1">
                                                <li class="div-title ms-1 py-1 px-2  movie-sub-entity d-inline-block"
                                                    th:each="genre : ${movie.getGenres()}"
                                                    th:text="${genre.getName()}">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <div class="col-3 d-flex flex-nowrap align-items-center w-100">
                                            <span class="text-black-50">Đạo diễn: </span>
                                            <ul class="ms-2 d-flex flex-wrap gap-1 flex-1">
                                                <li class="div-title ms-1 py-1 px-2  movie-sub-entity d-inline-block"
                                                    th:each="director : ${movie.getDirectors()}"
                                                    th:text="${director.getName()}">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mt-3">
                                        <div class="col-3 d-flex flex-nowrap align-items-center w-100">
                                            <span class="text-black-50">Diễn viên: </span>
                                            <ul class="ms-2 d-flex flex-wrap gap-1 flex-1">
                                                <li class="div-title ms-1 py-1 px-2 movie-sub-entity d-inline-block"
                                                    th:each="actor : ${movie.getActors()}"
                                                    th:text="${actor.getName()}">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="middle-content mt-5">
                            <span class="me-2"></span>
                            <p class="d-inline-block align-content-center"
                               style="font-weight: 700; font-size: 16px">
                                Nội Dung Phim</p>
                            <div>
                                <p th:text="${movie.getDescription()}"
                                   style="font-size: 14px"
                                ></p>
                            </div>
                        </div>
                        <div class="middle-content mt-5">
                            <span class=" me-2"></span>
                            <p class="d-inline-block align-content-center"
                               style="font-weight: 700; font-size: 16px">
                                Lịch Chếu
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </main>
    </th:block>
</main>
<th:block id="js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="/web-asset/js/banner.js"></script>
</th:block>
</body>
</html>