<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<title>VCINEMA</title>
<th:block id="css">
    <link rel="stylesheet" href="/plugins/slick-slider/slick.css">
    <link rel="stylesheet" href="/plugins/slick-slider/slick-theme.css">
    <link rel="stylesheet" href="/css/pages/index.css">

    <style>
        .main-post-img {
            width: 100%;
        }
        .main-post-img:hover {

        }
        .post-img {
            border-radius: 5px;
            overflow: hidden;
        }
        .post-img:hover {
            transform: scale(1.04);
        }
    </style>
</th:block>
<body>
<main>
    <th:block id="content">
        <section class="banner">
            <div class="center mb-0">
                <div class="item ">
                    <img src="https://cdn.galaxycine.vn/media/2024/6/13/io2-2048_1718251991479.jpg" alt="">
                </div>
                <div class="item ">
                    <img src="https://cdn.galaxycine.vn/media/2024/6/13/io2-2048_1718251991479.jpg" alt="">
                </div>
                <div class="item ">
                    <img src="https://cdn.galaxycine.vn/media/2024/6/13/io2-2048_1718251991479.jpg" alt="">
                </div>
            </div>
        </section>

        <main class="container ">
            <div class="body-content">
                <div class="body-sub-menu">
                    <div class="d-none d-xl-flex">
                        <span class="me-2"></span>
                        <h3 class="me-3 mb-0">PHIM</h3>
                    </div>
                    <nav>
                        <ul>
                            <li class="me-3">
                                <a class="active">Đang chiếu</a>
                                <span></span>
                            </li>
                            <li class="me-3"><a>Sắp chiếu</a></li>
                        </ul>
                    </nav>
                </div>

                <section class="movie">
                    <div class="row">
                        <div class="card-movie position-relative col-lg-3 col-6" th:each="movie : ${movies}">
                            <div class="movie-content">
                                <div class="movie-img">
                                    <a th:href="'/movie/' + ${movie.getId()}">
                                        <img th:src="${movie.getPoster()}"
                                             th:alt="${movie.getName()}">
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="movie-content-hover">
                                        <a th:href="'/movie/' + ${movie.getId()}"
                                            class="movie-hover-btn-ticket mb-3">
                                            <i class="fa-solid fa-ticket"></i>
                                            <p class="m-0 ms-2">Mua vé</p>
                                        </a>
                                        <button data-bs-toggle="modal"
                                                data-bs-target="#trailer-modal-index" class="movie-hover-btn-trailer" th:attr="url=${movie.getTrailer()}" onclick="playTrailer(this)">
                                            <i class="fa-solid fa-circle-play"></i>
                                            <p class="m-0 ms-2">Trailer</p>
                                        </button>
                                    </div>
                                    <div class="vote">
                                        <p class="point">
                                            <span><i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i></span>
                                            <span th:text="${movie.getRating()}"></span>
                                        </p>
                                    </div>
                                    <div class="age-requirement">
                                        <p class="py-1 px-2 fs-14px m-0 fw-700 bg-orange text-white">
                                            <span th:text="${movie.getAgeRequirement()}"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a th:href="'/movie/' + ${movie.getId()}">
                                <h3 class="movie-name text-uppercase" th:text="${movie.name}"></h3>
                            </a>
                        </div>

                    </div>
                    <div class="modal fade " id="trailer-modal-index" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content trailer-content">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="line py-2"></div>

                <section>
                    <div class="body-sub-menu">
                        <div class="d-none d-xl-flex">
                            <span class="me-2"></span>
                            <h3 class="me-3 mb-0">GÓC ĐIỆN ẢNH</h3>
                        </div>
                        <nav>
                            <ul>
                                <li class="me-3"><a href="">Bình luận phim</a></li>
                                <li class="me-3"><a href="">Blog điện ảnh</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="post">
                        <div class="row">
                            <!-- Hiển thị bài viết đầu tiên nếu tồn tại -->
                            <th:block th:if="${posts.content.size() > 0}">
                                <div class="col-lg-6">
                                    <div class="main-blog p-2 main-post">
                                        <div class="main-post-img post-img">
                                            <a th:href="@{'/posts?id=' + ${posts.content[0].id}}">
                                                <img th:src="${posts.content[0].thumbnail}"
                                                     th:alt="${posts.content[0].title}">
                                            </a>
                                        </div>
                                        <a class="fs-18px mt-4 fw-700 fs-18px"
                                           th:href="@{'/posts?id=' + ${posts.content[0].id}}" th:text="${posts.content[0].title}">
                                        </a>
                                        <div class="mt-2">
                                            <button class="like-btn">
                                                <i class="fa-solid fa-thumbs-up"></i><span class="ps-1">Thích</span>
                                            </button>
                                            <button class="view-btn">
                                                <i class="fa-solid fa-eye"></i>
                                                <span th:text="${posts.content[0].view}">400</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </th:block>

                            <!-- Hiển thị các bài viết còn lại -->
                            <div class="col-lg-6">
                                <div class="sub-blog">
                                    <div class="d-flex flex-column mb-3 ms-2">
                                        <div class="p-2 row" th:each="post, iterStat : ${posts.content}" th:if="${iterStat.index != 0}">
                                            <div class="post-img col-lg-5">
                                                <a th:href="@{'/posts?id=' + ${post.id}}">
                                                    <img th:src="${post.thumbnail}"
                                                         th:alt="${post.title}">
                                                </a>
                                            </div>
                                            <div class="fs-18px fw-700 col-lg-7 ms-3">
                                                <a class="fs-18px fw-600" th:href="@{'/posts?id=' + ${post.id}}"
                                                   th:text="${post.title}"></a>
                                                <div class="mt-2">
                                                    <button class="like-btn">
                                                        <i class="fa-solid fa-thumbs-up"></i><span class="ps-1">Thích</span>
                                                    </button>
                                                    <button class="view-btn">
                                                        <i class="fa-solid fa-eye"></i>
                                                        <span th:text="${post.view}">400</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-5">
                        <button class="more-movie-btn"><a href="/posts">Xem thêm ></a></button>
                    </div>
                </section>
            </div>
        </main>
    </th:block>
</main>
<th:block id ="js">
    <script src="/plugins/slick-slider/slick.min.js"></script>
    <script src="/js/fragments/banner.js"></script>
    <script>
        function playTrailer(button) {
            const trailerContent = document.querySelector(".trailer-content")
            let trailer = button.getAttribute('url');
            trailerContent.innerHTML = `
             <iframe
                style = "width: 100%; height: 90vh"
                src="${trailer}"
                title = "YouTube video player"
                allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy = "strict-origin-when-cross-origin"
                allowfullscreen >
            </iframe>
            `;

            const trailerModalEl = document.getElementById('trailer-modal-index')
            trailerModalEl.addEventListener('hidden.bs.modal', event => {
                trailerContent.innerHTML = ``;
            })
        }
    </script>
</th:block>
</body>
</html>