<div class="row bg-white px-4 py-4">
    <div class="col-lg-2 fs-18px fw-600">
        Đổi suất chiếu
    </div>
    <div class="col-lg-10">
        <div id="time-list" class="d-flex flex-warp gap-1 ms-2">
            <button class="time-btn cursor-none"
                    th:each="showtime : ${showtimes}"
                    th:value="${showtime.getId()}"
                    th:text="${showtime.getStartTime()}"
                    onclick="timeBtnFunc(this)">
            </button>
        </div>
    </div>
</div>
<div id="seat-container" class="bg-white my-4 p-4 d-none">
    <div id="seat-map" class=""></div>
    <p class="text-black-50 mt-5 text-center fs-12px">Màn Hình</p>
    <div class="screen-line"></div>
    <div class="my-4 d-flex justify-content-between">
        <div class="d-flex" style="gap: 0.25rem">
            <div>
                <button class="seat-demo seat-sold"></button>
                <span class="fs-14px text-black-50">Ghế đã bán</span>
            </div>
            <div>
                <button class="seat-demo active" style="background-color: #034EA2 "></button>
                <span class="fs-14px text-black-50">Ghế đang chọn</span>
            </div>
            <div>
                <button class="seat-demo seat-hover"></button>
                <span class="fs-14px text-black-50">Ghế đang được giữ</span>
            </div>
        </div>
        <div class="d-flex" style="gap: 0.25rem">
            <div class="d-flex align-items-end">
                <div class="div-seat-double">
                    <button class="seat-demo m-0 border-0 seat-double"></button>
                    <button class="seat-demo m-0 border-0 seat-double"></button>
                </div>
                <span class="ms-2 w-100 fs-14px text-black-50" style="margin-bottom: 3px">Ghế Đôi</span>
            </div>
            <div>
                <button class="seat-demo seat-vip"></button>
                <span class="fs-14px text-black-50">Ghế VIP</span>
            </div>
            <div>
                <button class="seat-demo"></button>
                <span class="fs-14px text-black-50">Ghế Thường</span>
            </div>
        </div>
    </div>
</div>