<div id="stage-four" class="row">
    <div class="mb-4 bg-white px-4 py-2">
        <div class="fs-18px fw-700">
            Khuyến mãi
        </div>
        <div class="border-0" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="fs-14px cursor-pointer fw-700 mt-2 mb-3" data-bs-toggle="collapse" data-bs-target="#promotion-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Mã khuyến mãi
                    </div>
                </h2>
                <div id="promotion-collapseOne" class="accordion-collapse collapse show">
                    <input id="coupon-code" type="text" >
                    <button class="bg-orange text-white">Áp dụng</button>
                    <p class="fs-12px mb-1 text-black-50">Lưu ý: Có thể áp dụng nhiều vouchers vào 1 lần thanh toán</p>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="fs-14px cursor-pointer fw-700 mb-3" data-bs-toggle="collapse" data-bs-target="#promotion-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Mã khuyến mãi của bạn <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="promotion-collapseTwo" class="accordion-collapse collapse mb-4">
                    <div>
                        coupon-list
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="fs-14px cursor-pointer fw-700 mb-3" data-bs-toggle="collapse" data-bs-target="#promotion-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Áp dụng points <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="promotion-collapseThree" class="accordion-collapse collapse">
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <input id="points" type="text" >
                        <button class="bg-orange text-white" onclick="usePoints()">Áp dụng</button>
                        <p class="fs-12px mb-1 text-black-50">Bạn đang có <span th:if="${promotion.getPoints() != null}">[[${promotion.getPoints()}]]</span> điểm Stars</p>
                        <div class="fs-14px mt-2">
                            <p class="fs-16px fw-700 mb-0">Lưu ý</p>
                            <p class="mb-0">Điểm Points có thể quy đổi thành tiền để mua vé hoặc bắp/nước tại các cụm rạp VCinema.</p>
                            <ul class="mb-2">
                                <li class="ms-3">1 Points = 1,000 VNĐ</li>
                                <li>Points quy định trên 1 giao dịch: tối thiểu là 20 điểm và tối đa là 100 điểm.</li>
                            </ul>
                            <p class="mb-0">Points là điểm tích lũy dựa trên giá trị giao dịch bởi thành viên giao dịch tại VCinema. Cơ chế tích lũy points, như sau:</p>
                            <ul class="mb-2">
                                <li class="ms-3">Thành viên Normal: 3% trên tổng giá trị/ số tiền giao dịch.</li>
                                <li class="ms-3">Thành viên VIP: 5% trên tổng giá trị/ số tiền giao dịch.</li>
                                <li class="ms-3">Thành viên PRENIUM: 10% trên tổng giá trị/ số tiền giao dịch.</li>
                            </ul>
                            <p>Ví dụ: hóa đơn giao dịch của khách hàng là 100,000 VNĐ, hạng thành viên Normal. Số points tích được sẽ là 5 points, tương đương với 5,000 VNĐ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white px-4 py-2">
        <div class="fs-18px fw-700">
            Phương thức thanh toán
        </div>
        <ul class="payment mt-3">
            <li class="d-flex align-items-center mb-4 gap-1">
                <input type="radio" id="payment-vnpay" name="payment" value="1" onclick="getSelectedPayment()">
                <img class="payment-logo" src="https://cdn.galaxycine.vn/media/2021/12/2/download_1638460623615.png" alt="VNPay">
                <label for="payment-vnPay">VNPay</label>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-ticket">
            <div class="modal-header justify-content-center border-0">
                <button type="button" class="p-0 border-0 fs-16px m-0 text-white"
                        data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;"></i>
                </button>
            </div>
            <div class="modal-body mx-5 bg-white">
                <div class="d-flex justify-content-center">
                    <strong class=" text-uppercase ">Thông tin đặt vé</strong>
                </div>
                <div class="row mt-3">
                    <strong class="col-2 pt-2 fs-14px">Phim</strong>
                    <div id="bill-movie-name" class="col-10 border border-1 py-2 px-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <strong class="col-2 pt-2 fs-14px">Rạp</strong>
                    <div id="bill-cinema-name" class="col-10 border border-1 py-2 px-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2 pt-2 fs-14px"></div>
                    <div id="bill-auditorium" class="col-10 d-flex flex-direction-column border border-1 py-2 px-3">

                    </div>
                </div>
                <div class="row mt-3">
                    <strong class="col-2 pt-2 fs-14px">Tổng</strong>
                    <div class="col-10 px-3 py-2 bg-blue">
                        <div id="bill-total-price" class="text-white fs-16px fw-600">200.000Đ</div>
                        <span id="old-total-price" class="text-white-50 text-decoration-line-through fs-16px fw-600 d-none"></span>
                    </div>
                </div>
                <div class="">
                    <div class="modal-line mt-4 mb-3"></div>
                </div>
                <p class="fs-16px text-italic">tôi xác nhận thông tin đặt vé đã chính xác
                    <input id="submit-check" type="checkbox" name="submit" value="accept">
                </p>
                <div class="d-flex justify-content-center">
                    <button id="btn-payment-submit" type="button" class="btn bg-orange text-white mt-3 fw-600">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>
