<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DashBroad</title>
    <th:block id="css">
    </th:block>
</head>
<body>
<div class="content-index">
    <main class="content">
        <div class="container-fluid p-0 pt-lg-4">
            <h1 class="h3 mb-3"><strong>Dashboard</strong></h1>
            <div class="row">
                <div class="col-xl-6 col-xxl-5 d-flex">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Tổng số vé bán trong tuần</h5>
                                            </div>
                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="truck"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3">2.382</h1>
                                        <div class="mb-0">
													<span class="text-danger"> <i
                                                            class="mdi mdi-arrow-bottom-right"></i>-3.65%</span>
                                            <span class="text-muted">So với tuần trước</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Người Dùng mới</h5>
                                            </div>

                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="users"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3">14.212</h1>
                                        <div class="mb-0">
													<span class="text-success"> <i
                                                        class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                            <span class="text-muted">So với tuần trước</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Doanh thu trong tuần</h5>
                                            </div>

                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="dollar-sign"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3">2.000.000đ</h1>
                                        <div class="mb-0">
													<span class="text-success"> <i
                                                        class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                            <span class="text-muted">So với tuần trước</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Tổng doanh thu trong Tháng</h5>
                                            </div>

                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="dollar-sign"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 class="mt-1 mb-3">21.300.000đ</h1>
                                        <div class="mb-0">
													<span class="text-success"> <i
                                                            class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                            <span class="text-muted">So với tháng trước</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-xxl-7">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Biểu đồ doanh thu theo tháng</h5>
                        </div>
                        <div class="card-body py-3">
                            <div class="chart chart-sm">
                                <canvas id="chartjs-dashboard-line"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Top phim có số vé bán cao nhất</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="py-3">
                                    <div class="chart chart-xs">
                                        <canvas id="chartjs-dashboard-pie"></canvas>
                                    </div>
                                </div>

                                <table class="table mb-0">
                                    <tbody>
                                    <tr>
                                        <td>Deadpool & Wolverine</td>
                                        <td class="text-end">4306</td>
                                    </tr>
                                    <tr>
                                        <td>Vây Hãm Trên Không</td>
                                        <td class="text-end">3801</td>
                                    </tr>
                                    <tr>
                                        <td>Thám Tử Lừng Danh Conan: Ngôi Sao 5 Cánh 1 Triệu Đô</td>
                                        <td class="text-end">1689</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Danh sách rạp</h5>
                        </div>
                        <div class="card-body px-4">
                            <div id="map" style="height:350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                    <div class="card flex-fill">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Lịch</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="chart">
                                    <div id="datetimepicker-dashboard"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Doanh số trong tuần theo từng rạp</h5>
                        </div>
                        <table class="table table-hover my-0">
                            <thead>
                            <tr>
                                <th>Tên rạp</th>
                                <th class="d-none d-xl-table-cell">Tổng vé bán ra</th>
                                <th class="d-none d-xl-table-cell">Tổng doanh thu</th>
                                <th>Lượng khách hàng mới</th>
                                <th class="d-none d-md-table-cell">Quản lý</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Project Apollo</td>
                                <td class="d-none d-xl-table-cell">01/01/2021</td>
                                <td class="d-none d-xl-table-cell">31/06/2021</td>
                                <td><span class="badge bg-success">Done</span></td>
                                <td class="d-none d-md-table-cell">Vanessa Tucker</td>
                            </tr>
                            <tr>
                                <td>Project Fireball</td>
                                <td class="d-none d-xl-table-cell">01/01/2021</td>
                                <td class="d-none d-xl-table-cell">31/06/2021</td>
                                <td><span class="badge bg-danger">Cancelled</span></td>
                                <td class="d-none d-md-table-cell">William Harris</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Lượng khách hàng mới theo từng tháng</h5>
                        </div>
                        <div class="card-body d-flex w-100">
                            <div class="align-self-center chart chart-lg">
                                <canvas id="chartjs-dashboard-bar"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<th:block id="js">
    <script src="/dist/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/vn.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
            var gradient = ctx.createLinearGradient(0, 0, 0, 225);
            gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
            gradient.addColorStop(1, "rgba(215, 227, 244, 0)");

            // Dữ liệu gốc
            var rawData = [
                2300000,
                1500000,
                1600000,
                1900000,
                1600000,
                2000000,
                2500000,
                2400000,
                2800000,
                3400000,
                2900000,
                3300000
            ];

            // Line chart
            new Chart(ctx, {
                type: "line",
                data: {
                    labels: ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12'],
                    datasets: [{
                        fill: true,
                        backgroundColor: gradient,
                        borderColor: window.theme.primary,
                        data: rawData
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function(tooltipItem) {
                                return `Doanh thu: ${tooltipItem.yLabel.toLocaleString()} VND`;
                            }
                        }
                    },
                    hover: {
                        intersect: true
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        }
                    },
                    scales: {
                        xAxes: [{
                            reverse: true,
                            gridLines: {
                                color: "rgba(0,0,0,0.0)"
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Tháng",
                                fontColor: "#333"
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                // Định dạng nhãn trục Y với dấu phân cách hàng nghìn
                                callback: function(value) {
                                    return value.toLocaleString();
                                },
                                // Bước nhảy của các mốc trên trục Y
                                stepSize: 1000000,
                                // Bỏ nhãn trục Y trùng lặp
                                beginAtZero: true
                            },
                            display: true,
                            borderDash: [3, 3],
                            gridLines: {
                                color: "rgba(0,0,0,0.0)"
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "VND",
                                fontColor: "#333"
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dataMap = new Map([
                ["Deadpool & Wolverine", 4306],
                ["Vây Hãm Trên Không", 3801],
                ["Thám Tử Lừng Danh Conan: Ngôi Sao 5 Cánh 1 Triệu Đô", 1689]
            ]);

            // Lấy các key và value từ bản đồ
            var labels = Array.from(dataMap.keys());
            var dataValues = Array.from(dataMap.values());

            new Chart(document.getElementById("chartjs-dashboard-pie"), {
                type: "pie",
                data: {
                    labels: labels,
                    datasets: [{
                        data: dataValues,
                        backgroundColor: [
                            window.theme.primary,
                            window.theme.warning,
                            window.theme.danger
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 75
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Bar chart
            new Chart(document.getElementById("chartjs-dashboard-bar"), {
                type: "bar",
                data: {
                    labels: ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"],
                    datasets: [{
                        label: "Khách hàng mới",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                        barPercentage: .75,
                        categoryPercentage: .5
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: false,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: false,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTx7bREpM5B6JKdbzOvMW-RRlhkukmVE&callback=initMaps" async="" defer=""></script>
    <script>
        function initMaps() {
            var defaultMap = {
                zoom: 7,
                center: {
                    lat: 21,
                    lng: 105.86103641748585
                },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), defaultMap);

            // Các tọa độ và thông tin cho các markers
            var locations = [
                {
                    lat: 21.028511,
                    lng: 105.854167,
                    info: `
                <div>
                    <strong>Khu Phố Cổ Hà Nội</strong><br>
                    P. Hàng Ngang<br>
                    Hàng Đào<br>
                    Hoàn Kiếm<br>
                    Hà Nội 100000, Việt Nam<br>
                    <a href="https://www.google.com/maps/search/?api=1&query=21.028511,105.854167" target="_blank">Xem trên Google Maps</a>
                </div>
            `,
                    title: "Hồ Gươm",
                    label: "A",
                    draggable: true,
                    zIndex: 1
                }
            ];

            // Thêm các markers vào bản đồ
            locations.forEach(function(location) {
                var marker = new google.maps.Marker({
                    position: {lat: location.lat, lng: location.lng},
                    map: map,
                    title: location.title,
                    animation: location.animation,
                    label: location.label,
                    draggable: location.draggable,
                    zIndex: location.zIndex
                });

                // Tạo InfoWindow cho mỗi marker
                var infoWindow = new google.maps.InfoWindow({
                    content: location.info
                });

                // Mở InfoWindow khi click vào marker
                marker.addListener('click', function() {
                    infoWindow.open(map, marker);
                });

                // Đóng InfoWindow khi click ra ngoài (không bắt buộc)
                map.addListener('click', function() {
                    infoWindow.close();
                });
            });
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("datetimepicker-dashboard").flatpickr({
                locale: "vn",
                inline: true,
                prevArrow: "<span title=\"Tháng trước\">&laquo;</span>",
                nextArrow: "<span title=\"Tháng sau\">&raquo;</span>",
                defaultDate: Date.now()
            });
        });
    </script>
</th:block>

</body>
</html>