<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DashBroad</title>
    <th:block id="css">
    </th:block>
</head>
<body>
<div class="content-index">
    <main class="content">
        <div class="container-fluid p-0 pt-lg-4">
            <h1 class="h3 mb-3"><strong>Analytics </strong>Dashboard</h1>
            <div class="row">
                <div class="col-xl-6 col-xxl-5 d-flex">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Tổng vé bán tuần</h5>
                                            </div>
                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="activity"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 id="total-ticket-sold-week" class="mt-1 mb-3">2.382</h1>
                                        <div class="mb-0">
                                            <span id="percent-ticket-sold-last-week" class="badge">
                                                <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                            <span class="text-muted">So với tuần trước</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Người Dùng mới</h5>
                                            </div>

                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="users"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 id="total-new-user-week" class="mt-1 mb-3">14.212</h1>
                                        <div class="mb-0">
                                            <span id="percent-new-user-last-week" class="badge">
                                                <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                            <span class="text-muted">So với tuần trước</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Tổng doanh thu tuần</h5>
                                            </div>
                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="dollar-sign"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 id="total-revenue-week" class="mt-1 mb-3">2.000.000đ</h1>
                                        <div class="mb-0">
                                            <span id="percent-revenue-last-week" class="badge">
                                                <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                            <span class="text-muted">So với tuần trước</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col mt-0">
                                                <h5 class="card-title">Tổng doanh thu tháng</h5>
                                            </div>

                                            <div class="col-auto">
                                                <div class="stat text-primary">
                                                    <i class="align-middle" data-feather="dollar-sign"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 id="total-revenue-month" class="mt-1 mb-3">21.300.000đ</h1>
                                        <div class="mb-0">
                                            <span id="percent-revenue-last-month" class="badge">
                                                <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                            <span class="text-muted">So với tháng trước</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-xxl-7">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Biểu đồ doanh thu theo tháng</h5>
                        </div>
                        <div class="card-body py-3 px-2">
                            <div class="chart chart-sm">
                                <canvas id="chartjs-dashboard-line"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                    <div class="card flex-fill w-100" style="max-height: 460px">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Lượng khách hàng mới theo từng tháng</h5>
                        </div>
                        <div class="card-body d-flex w-100">
                            <div class="align-self-center chart chart-lg">
                                <canvas id="chartjs-dashboard-bar"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
                    <div class="card flex-fill w-100">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Danh sách rạp</h5>
                        </div>
                        <div class="card-body px-4">
                            <div id="map" style="height:350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                    <div class="card flex-fill">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Lịch</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="chart">
                                    <div id="datetimepicker-dashboard"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                    <div class="card px-4 pb-4 flex-fill">
                        <div class="card-header d-flex px-0">
                            <label class="card-title mb-0 me-2" for="index-cinema-time">Hiển thị doanh số theo</label>
                            <select name="index-cinema_time"
                                    class="form-select form-select-sm w-auto"
                                    id="index-cinema-time">
                                <option value="day">Ngày</option>
                                <option selected value="week">Tuần</option>
                                <option value="month">Tháng</option>
                                <option value="year">Năm</option>
                            </select>
                            <label class="card-title mb-0 ms-2" for="index-cinema-time">của từng rạp</label>
                        </div>
                        <table id="index-cinema" class="table table-hover my-0">
                            <thead>
                            <tr>
                                <th class="d-none text-start d-xl-table-cell" style="width: 25%">Tên rạp</th>
                                <th class="d-none text-center d-sm-table-cell text-center" style="width: 15%">Tổng vé bán ra</th>
                                <th class="d-none text-center d-xl-table-cell text-center" style="width: 20%">Tổng doanh thu</th>
                                <th class="d-none text-center d-xl-table-cell" style="width: 15%">KPI</th>
                                <th class="d-none text-center d-md-table-cell text-end" style="width: 20%">Quản lý</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xxl-3 d-flex">

                    <div class="card flex-fill w-100">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Tổng số vé bán của từng phim đang chiếu</h5>
                        </div>
                        <div class="card-body d-flex">
                            <div class="align-self-center w-100">
                                <div class="py-3">
                                    <div class="chart chart-xs">
                                        <canvas id="chartjs-dashboard-pie"></canvas>
                                    </div>
                                </div>

                                <table class="table mb-0">
                                    <tbody>
                                    <tr>
                                        <td>Deadpool & Wolverine</td>
                                        <td class="text-end">4306</td>
                                    </tr>
                                    <tr>
                                        <td>Vây Hãm Trên Không</td>
                                        <td class="text-end">3801</td>
                                    </tr>
                                    <tr>
                                        <td>Thám Tử Lừng Danh Conan: Ngôi Sao 5 Cánh 1 Triệu Đô</td>
                                        <td class="text-end">1689</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<th:block id="js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/vn.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTx7bREpM5B6JKdbzOvMW-RRlhkukmVE&callback=initMaps"
            async="" defer=""></script>

    <script src="/dist/js/index.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
            const currentYear = new Date().getFullYear();

            const gradient = ctx.createLinearGradient(0, 0, 0, 225);
            gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
            gradient.addColorStop(1, "rgba(215, 227, 244, 0)");

            // Khởi tạo biểu đồ
            const chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"],
                    datasets: [{
                        label: `Năm ${currentYear}`,
                        fill: true,
                        backgroundColor: "transparent",
                        borderColor: window.theme.primary,
                        data: []
                    }, {
                        label: `Năm ${currentYear - 1}`,
                        fill: true,
                        backgroundColor: "transparent",
                        borderColor: "#adb5bd",
                        borderDash: [4, 4],
                        data: []
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: true,
                        labels: {
                            usePointStyle: true,
                            generateLabels: function(chart) {
                                return chart.data.datasets.map(function(dataset, i) {
                                    return {
                                        text: dataset.label,
                                        fillStyle: dataset.borderColor,
                                        hidden: !chart.isDatasetVisible(i),
                                        lineCap: dataset.borderCapStyle,
                                        lineDash: dataset.borderDash,
                                        lineDashOffset: dataset.borderDashOffset,
                                        lineJoin: dataset.borderJoinStyle,
                                        strokeStyle: dataset.borderColor,
                                        pointStyle: 'line',
                                        datasetIndex: i
                                    };
                                });
                            }
                        }
                    },
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            title: function(tooltipItems, data) {
                                const datasetIndex = tooltipItems[0].datasetIndex;
                                const year = datasetIndex === 0 ? currentYear : currentYear - 1;
                                const label = data.labels[tooltipItems[0].index];
                                return `${label}/${year}`;
                            },
                            label: function (tooltipItem) {
                                return `Doanh thu: ${tooltipItem.yLabel.toLocaleString()} VND`;
                            }
                        }
                    },
                    hover: {
                        intersect: true
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        }
                    },
                    scales: {
                        xAxes: [{
                            reverse: true,
                            gridLines: {
                                color: "rgba(0,0,0,0.0)"
                            },
                            scaleLabel: {
                                display: true,
                                fontColor: "#333"
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                callback: function (value) {
                                    return (value / 1000000) + ' triệu';
                                },
                                stepSize: 50000000,
                                beginAtZero: true
                            },
                            display: true,
                            borderDash: [3, 3],
                            gridLines: {
                                color: "rgba(0,0,0,0.0)"
                            },
                            scaleLabel: {
                                display: true,
                                fontColor: "#333"
                            }
                        }]
                    }
                }
            });

            // Hàm lấy dữ liệu từ API và cập nhật biểu đồ
            function fetchRevenueData(year, datasetIndex) {
                $.ajax({
                    url: `admin/api/v1/revenue/get/all-total-on-month-for-year?year=${year}`,
                    type: 'GET',
                    success: function (response) {
                        const data = response.map(item => item.totalRevenue);
                        chart.data.datasets[datasetIndex].data = data;
                        chart.update();
                    },
                    error: handleError
                });
            }

            // Lấy dữ liệu doanh thu cho cả năm hiện tại và năm trước
            fetchRevenueData(currentYear, 0);      // Dataset cho năm hiện tại
            fetchRevenueData(currentYear - 1, 1);  // Dataset cho năm trước
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dataMap = new Map([
                ["Deadpool & Wolverine", 4306],
                ["Vây Hãm Trên Không", 3801],
                ["Thám Tử Lừng Danh Conan: Ngôi Sao 5 Cánh 1 Triệu Đô", 1689]
            ]);

            // Lấy các key và value từ bản đồ
            var labels = Array.from(dataMap.keys());
            var dataValues = Array.from(dataMap.values());

            new Chart(document.getElementById("chartjs-dashboard-pie"), {
                type: "pie",
                data: {
                    labels: labels,
                    datasets: [{
                        data: dataValues,
                        backgroundColor: [
                            window.theme.primary,
                            window.theme.warning,
                            window.theme.danger
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 75
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Chart(document.getElementById("chartjs-dashboard-bar"), {
                type: "bar",
                data: {
                    labels: ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"],
                    datasets: [{
                        label: "Khách hàng mới",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                        barPercentage: .75,
                        categoryPercentage: .5
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: false,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: false,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });
        });
    </script>

    <script>
        function fetchWidgetData() {
            $.ajax({
                url: `/admin/api/v1/admin-dashboard/get/widget`,
                type: 'GET',
                success: handleWidgetResponse,
                error: handleError
            });
        }

        function handleWidgetResponse(response) {
            updateElement("total-new-user-week", response.totalNewUsers);
            updatePercentage("percent-new-user-last-week", response.lastWeekNewUserPercentage);

            updateElement("total-revenue-week", `${formatPrice(response.totalRevenueWeek)}đ`);
            updatePercentage("percent-revenue-last-week", response.lastWeekRevenuePercentage);

            updateElement("total-revenue-month", `${formatPrice(response.totalRevenueMonth)}đ`);
            updatePercentage("percent-revenue-last-month", response.lastMonthRevenuePercentage);

            updateElement("total-ticket-sold-week", response.totalTicketsSold);
            updatePercentage("percent-ticket-sold-last-week", response.lastWeekTicketSoldPercentage);
        }

        function updateElement(elementId, value) {
            document.getElementById(elementId).innerHTML = value;
        }

        function updatePercentage(elementId, percentage) {
            const element = document.getElementById(elementId);
            const icon = percentage > 0 ? "mdi-arrow-top-right" : "mdi-arrow-bottom-right";
            const badgeClass = percentage > 0 ? "badge-success-light" : "badge-danger-light";

            element.classList.add(badgeClass);
            element.innerHTML = `<i class="mdi ${icon}"></i> ${percentage}%`;
        }

        document.addEventListener("DOMContentLoaded", fetchWidgetData);
    </script>
</th:block>

</body>
</html>