<!DOCTYPE html>
<html lang="en">
<body>
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/admin">
            <div class="logo">
                <span class="logo">VCinema Admin</span>
            </div>
        </a>
        <div>
            <ul id="pages" class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>
                <li class="sidebar-item active">
                    <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link" aria-expanded="true">
                        <i class="fa-solid fa-chart-pie fa-lg"></i>
                        <span class="align-middle">Dashboards</span>
                    </a>
                    <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar" style="">
                        <li class="sidebar-item active"><a class="sidebar-link" href="/admin">Analytics</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="#">E-Commerce</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="e-commerce" class="sidebar-nav">
                <li class="sidebar-header">
                    E-Commerce
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/transaction">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <span class="align-middle">Quản Lý Giao Dịch</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/schedule">
                        <i class="fa-solid fa-calendar"></i>
                        <span class="align-middle">Quản Lý Lịch Chiếu</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/showtime">
                        <i class="fa-solid fa-ticket"></i>
                        <span class="align-middle">Quản Lý Suất Chiếu</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/users">
                        <i class="fa-solid fa-users"></i>
                        <span class="align-middle">Quản Lý Người Dùng</span>
                    </a>
                </li>

            </ul>
            <ul id="company" class="sidebar-nav">
                <li class="sidebar-header">
                    Company
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/employees">
                        <i class="fa-solid fa-user-tie"></i>
                        <span class="align-middle">Quản Lý Nhân Sự</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/report">
                        <i class="fa-solid fa-file-lines"></i>
                        <span class="align-middle">Báo Cáo</span>
                    </a>
                </li>
            </ul>
            <ul id="data" class="sidebar-nav">
                <li class="sidebar-header">
                    Data
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#cinema" data-bs-toggle="collapse" class="sidebar-link collapsed"
                       aria-expanded="false">
                        <i class="fa-solid fa-video"></i>
                        <span class="align-middle">Quản lý Rạp</span>
                    </a>
                    <ul id="cinema" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema">Danh sách Rạp</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema?data=delete">Rạp đã xóa</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema/aud-deleted">Phòng chiếu đã xóa</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#movies" data-bs-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                        <i class="fa-regular fa-circle-play"></i>
                        <span class="align-middle">Quản lý Phim</span>
                    </a>
                    <ul id="movies" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie">Danh sách Phim</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/create">Tạo Phim</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/meta-data">Metadata</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie?data=delete">Phim đã xóa</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#posts" data-bs-toggle="collapse" class="sidebar-link collapsed"
                       aria-expanded="false">
                        <i class="fa-solid fa-blog"></i>
                        <span class="align-middle">Quản Lý Bài Viết</span>
                    </a>
                    <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/post">Danh sách bài viết</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/post/create">Tạo bài viết</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="setting" class="sidebar-nav">
                <li class="sidebar-header">
                    Setting
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#web-setting" data-bs-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                        <i class="fa-solid fa-globe"></i>
                        <span class="align-middle">Cài đặt website</span>
                    </a>
                    <ul id="web-setting" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/web/settings/banner">Banner</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/web/settings/theme">Theme</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
