<!DOCTYPE html>
<html lang="en">
<body>
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/admin">
            <span class="align-middle">AdminKit</span>
        </a>
        <div>
            <ul id="pages" class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>
                <li class="sidebar-item active">
                    <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders align-middle"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg> <span class="align-middle">Dashboards</span>
                    </a>
                    <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar" style="">
                        <li class="sidebar-item active"><a class="sidebar-link" href="/">Analytics</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="#">E-Commerce</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="e-commerce" class="sidebar-nav">
                <li class="sidebar-header">
                    E-Commerce
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#bills" data-bs-toggle="collapse" class="sidebar-link collapsed"
                       aria-expanded="false">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <span class="align-middle">Quản lý Hóa Đơn</span>
                    </a>
                    <ul id="bills" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movies">Danh sách hóa đơn</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/create">Tạo phim</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="data" class="sidebar-nav">
                <li class="sidebar-header">
                    Data
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#cinema" data-bs-toggle="collapse" class="sidebar-link collapsed"
                       aria-expanded="false">
                        <i class="fa-solid fa-video"></i>
                        <span class="align-middle">Quản lý Rạp</span>
                    </a>
                    <ul id="cinema" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema">Danh sách Rạp</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema/create">Tạo Rạp</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema?data=delete">Rạp đã xóa</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/cinema/aud-deleted">Phòng chiếu đã xóa</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#movies" data-bs-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                        <i class="fa-regular fa-circle-play"></i>
                        <span class="align-middle">Quản lý Phim</span>
                    </a>
                    <ul id="movies" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie">Danh sách Phim</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/create">Tạo Phim</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/meta-data">Metadata</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie?data=delete">Phim đã xóa</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#posts" data-bs-toggle="collapse" class="sidebar-link collapsed"
                       aria-expanded="false">
                        <i class="fa-solid fa-blog"></i>
                        <span class="align-middle">Quản Lý Bài Viết</span>
                    </a>
                    <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movies">Danh sách bài viết</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/create">Tạo bài viết</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#showtimes" data-bs-toggle="collapse" class="sidebar-link collapsed"
                       aria-expanded="false">
                        <i class="fa-solid fa-ticket"></i>
                        <span class="align-middle">Quản Lý Suất Chiếu</span>
                    </a>
                    <ul id="showtimes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movies">Danh sách suất chiếu</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/movie/create">Tạo suất chiếu</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="setting" class="sidebar-nav">
                <li class="sidebar-header">
                    Setting
                </li>
                <li class="sidebar-item">
                    <a data-bs-target="#web-setting" data-bs-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                        <i class="fa-solid fa-globe"></i>
                        <span class="align-middle">Cài đặt website</span>
                    </a>
                    <ul id="web-setting" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
                        style="">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/web/settings/banner">Banner</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/web/settings/theme">Theme</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
