<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<title>CINEMA</title>
<th:block id="css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <link rel="stylesheet" href="/css/pages/blog.css">
</th:block>
<body>
<main>
  <th:block id="content">
      <div class="line"></div>
      <main class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <div>
                    <span class="line-blue me-2"></span>
                    <p class="d-inline-block align-content-center fs-20px fw-600 text-uppercase">
                        bình luận phim</p>
                </div>
                <div class="line-blue-bottom"></div>
                <div class="blog mt-3 pt-1">
                    <div class="mt-3 d-flex" th:each="post : ${posts}">
                        <div class="me-3">
                            <div class="post-index-img">
                                <a ><img class="post-img" th:src="${post.getThumbnail()}" th:alt="${post.getTitle()}"></a>
                            </div>
                        </div>
                        <div class="">
                            <a class="fs-18px fw-600" th:text="${post.getTitle()}"></a>
                            <div class="mt-2">
                                <button class="like-btn">
                                    <i class="fa-solid fa-thumbs-up"></i><span class="ms-1">Thích</span>
                                </button>
                                <button class=" view-btn">
                                    <i class="fa-solid fa-eye"></i>
                                    <span th:text="${post.getView()}">400</span>
                                </button>
                            </div>
                            <div class="blog-description mt-2">
                                <p class="fs-14px text-black-50 fw-600">
                                    là tác phẩm hay nhất của trilogy Deadpool, cũng là tác phẩm hay nhất cho người hâm mộ X-men nói riêng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ps-5 new-movies"></div>
        </div>
      </main>
  </th:block>
</main>
<th:block id ="js">
    <script src="/js/fragments/new-movies.js"></script>
</th:block>
</body>
</html>