<div class="history">
    <p class="text-center fs-14px fw-600 text-black-50">Lưu ý: chỉ hiển thị 20 giao dịch gần nhất</p>
    <div>
        <p class="text-center fs-14px fw-600 text-black-50 mt-3">Tháng <span>06/2024</span></p>
        <div class="card-history d-flex align-items-center bg-white px-4 py-2 mb-4">
            <div style="width: 65px; height: 70px; border-radius: 10px; overflow: hidden">
                <img src="https://cdn.galaxycine.vn/media/2024/5/21/doraemon-movie-43-nobitas-earth-symphony-1-1_1716273120350.jpg"
                     alt="">
            </div>
            <div class="ms-4 d-flex align-items-center justify-content-between">
                <div class="w-50">
                    <p class="lh-base m-0 fw-700">Phim Điện Ảnh Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu</p>
                    <span class="fs-14px">2D Lồng Tiếng</span>
                </div>
                <div class="ms-3">
                    <p class="fs-14px m-0">Cinema Long Biên <strong class="14px"> - <span>RAP 6</span></strong></p>
                    <strong class="fs-14px">20:00 <span> - </span> <span>Thứ Năm, 02/07/2024</span></strong>
                </div>
                <div>
                    <p class="m-0 fs-14px fw-700 text-orange line-gray-bottom">Chi tiết</p>
                </div>
            </div>
        </div>
        <div class="card-history d-flex align-items-center bg-white px-4 py-2 mb-4">
            <div style="width: 65px; height: 70px; border-radius: 10px; overflow: hidden">
                <img src="https://cdn.galaxycine.vn/media/2024/5/21/doraemon-movie-43-nobitas-earth-symphony-1-1_1716273120350.jpg"
                     alt="">
            </div>
            <div class="ms-4 d-flex align-items-center justify-content-between">
                <div class="w-50">
                    <p class="lh-base m-0 fw-700">Phim Điện Ảnh Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu</p>
                    <span class="fs-14px">2D Lồng Tiếng</span>
                </div>
                <div class="ms-3">
                    <p class="fs-14px m-0">Cinema Long Biên <strong class="14px"> - <span>RAP 6</span></strong></p>
                    <strong class="fs-14px">20:00 <span> - </span> <span>Thứ Năm, 02/07/2024</span></strong>
                </div>
                <div>
                    <p class="m-0 fs-14px fw-700 text-orange line-gray-bottom">Chi tiết</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="text-center fs-14px fw-600 text-black-50 mt-3">Tháng <span>04/2024</span></p>
        <div class="card-history d-flex align-items-center bg-white px-4 py-2 mb-4">
            <div style="width: 65px; height: 70px; border-radius: 10px; overflow: hidden">
                <img src="https://cdn.galaxycine.vn/media/2024/5/21/doraemon-movie-43-nobitas-earth-symphony-1-1_1716273120350.jpg"
                     alt="">
            </div>
            <div class="ms-4 d-flex align-items-center justify-content-between">
                <div class="w-50">
                    <p class="lh-base m-0 fw-700">Phim Điện Ảnh Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu</p>
                    <span class="fs-14px">2D Lồng Tiếng</span>
                </div>
                <div class="ms-3">
                    <p class="fs-14px m-0">Cinema Long Biên <strong class="14px"> - <span>RAP 6</span></strong></p>
                    <strong class="fs-14px">20:00 <span> - </span> <span>Thứ Năm, 02/07/2024</span></strong>
                </div>
                <div>
                    <p class="m-0 fs-14px fw-700 text-orange line-gray-bottom">Chi tiết</p>
                </div>
            </div>
        </div>
        <div class="card-history d-flex align-items-center bg-white px-4 py-2 mb-4">
            <div style="width: 65px; height: 70px; border-radius: 10px; overflow: hidden">
                <img src="https://cdn.galaxycine.vn/media/2024/5/21/doraemon-movie-43-nobitas-earth-symphony-1-1_1716273120350.jpg"
                     alt="">
            </div>
            <div class="ms-4 d-flex align-items-center justify-content-between">
                <div class="w-50">
                    <p class="lh-base m-0 fw-700">Phim Điện Ảnh Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu</p>
                    <span class="fs-14px">2D Lồng Tiếng</span>
                </div>
                <div class="ms-3">
                    <p class="fs-14px m-0">Cinema Long Biên <strong class="14px"> - <span>RAP 6</span></strong></p>
                    <strong class="fs-14px">20:00 <span> - </span> <span>Thứ Năm, 02/07/2024</span></strong>
                </div>
                <div>
                    <p class="m-0 fs-14px fw-700 text-orange line-gray-bottom">Chi tiết</p>
                </div>
            </div>
        </div>
    </div>
</div>