<div class="policy card p-4">
    <p class="text-center fs-22px fw-700 line-gray-bottom text-uppercase text-blue">Thể Lệ</p>
    <div class="policy-content">
        <strong class="fs-14px text-uppercase">Thể lệ</strong>
        <p class="fs-14px">
            Chương trình khách hàng thân thiết Galaxy là chương trình ưu đãi dựa trên điểm
            tích lũy của các thành viên gồm Normal, VIP, PREMIUM. Với mỗi giao dịch tại hệ
            thống rạp Galaxy, bạn sẽ nhận được điểm thưởng tương ứng. Hình thức tích lũy như
            sau:
        </p>
        <p style="font-size:14px">
            <span>
                <strong>&nbsp; Normal:</strong> Tích lũy ở mức 3% trên tổng giá trị/số tiền giao dịch
                &nbsp;<br>&nbsp;
                <strong>VIP:</strong> Tích lũy ở mức 5% trên tổng giá trị/số tiền giao dịch
                <br>&nbsp;
                <strong>PREMIUM: </strong>Tích lũy ở mức 10% trên tổng giá trị/số tiền giao dịch
                <br>
                Điểm tích lũy được gọi là Points
            </span>
        </p>
        <p style="font-size:14px">
            Ví dụ: Khách hàng là thành viên hạng <strong> Normal</strong>,
            khi phát sinh giao dịch 200.000 đồng,
            được tích điểm ở mức 3% tương đương 6 Points (6 Điểm)
            <br>
            Cách làm tròn điểm thưởng như sau:&nbsp;
        </p>
        <p style="font-size:14px">-&nbsp;&nbsp; &nbsp;Từ 0.1 đến 0.4: làm tròn xuống (Ví dụ:
            3.2 điểm sẽ được tích vào tài khoản 3 điểm)<br>
            -&nbsp;&nbsp; &nbsp;Từ 0.5 đến 0.9: làm tròn lên (Ví dụ: 3.5 điểm sẽ được tích
            vào tài khoản 4 điểm)<br>
            1 điểm tích lũy sẽ được quy đổi thành 1.000 đồng và được sử dụng cho việc thanh
            toán vé/bắp nước tại hệ thống VCinema. Điểm tích lũy không có giá trị quy đổi
            thành tiền mặt hoặc hoàn lại khi giao dịch đã được ghi nhận thành công.
        </p>

        <p style="font-size:14px;">
            <strong>Star </strong>là thành viên thân thiết có tổng chi tiêu trong năm dưới 2,000,000 đồng tính từ ngày
            1/1-31/12.
        </p>
        <p style="font-size:14px;">
            <strong>Normal </strong>là thành viên thân thiết có tổng chi tiêu trong năm trên 2,000,000 đồng đến
            3,999,999 đồng tính từ ngày 1/1-31/12.
        </p>
        <p style="font-size:14px;">
            <strong>Star </strong>là thành viên thân thiết có tổng chi tiêu trong năm trên 4,000,000 đồng trở lên tính
            từ ngày 1/1-31/12.
        </p>
    </div>
</div>