<div class="notification">
    <div class="card-history rounded-3 d-flex align-items-center bg-white px-4 py-2 mb-4" style="height: 80px;">
        <div class="me-4 ps-3 d-flex w-100 align-items-center justify-content-between">
            <i class="text-blue fa-solid fa-envelope fa-2xl"></i>
            <div class="w-50">
                <p class="title m-0 fw-700">Mua vé thành công!!</p>
                <div class="truncate ">
                    <span class="notification-content fs-14px">Suất chiếu Phim Điện Ảnh Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu sẽ bắt đầu lúc 17:00 06/06/2024. Nhớ đúng giờ, bạn nha!</span>
                </div>
            </div>
            <div class="ms-3">
                <p class="m-0 text-black-50 fs-12px">20:00 <span> - </span> <span>Thứ Năm, 02/07/2024</span></p>
            </div>
            <div>
                <p class="m-0 fs-14px fw-700 text-orange line-gray-bottom">Chi tiết</p>
            </div>
        </div>
    </div>
    <div class="card-history rounded-3 d-flex align-items-center bg-white px-4 py-2 mb-4" style="height: 80px;">
        <div class="me-4 ps-3 d-flex w-100 align-items-center justify-content-between">
            <i class="text-blue fa-solid fa-envelope-open-text fa-2xl"></i>
            <div class="w-50">
                <p class="title m-0 fw-700">Mua vé thành công!!</p>
                <div class="truncate ">
                    <span class="notification-content fs-14px">Suất chiếu Phim Điện Ảnh Doraemon: Nobita Và Bản Giao Hưởng Địa Cầu sẽ bắt đầu lúc 17:00 06/06/2024. Nhớ đúng giờ, bạn nha!</span>
                </div>
            </div>
            <div class="ms-3">
                <p class="m-0 text-black-50 fs-12px">20:00 <span> - </span> <span>Thứ Năm, 02/07/2024</span></p>
            </div>
            <div>
                <p class="m-0 fs-14px fw-700 text-orange line-gray-bottom">Chi tiết</p>
            </div>
        </div>
    </div>
</div>