<div class="reward card p-4" style="height: 450px; max-height: 100%">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    <p class="m-0 text-uppercase">Thành viên VCinema </p>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="card" style="width: 219px">
                        <div style="height: 143px; overflow: hidden">
                            <img class="w-100 h-100"
                                 src="https://cdn.galaxycine.vn/media/2021/4/7/combo2_1617790465669.jpg" alt="">
                        </div>
                        <div class="p-3">
                            <p class="m-0 fs-16px fw-600 text-uppercase">COMBO sinh nhật VCinema</p>
                            <span class="text-black-50 fs-14px fw-600">Hạn sử dụng: <span> 12/12/2024</span></span>
                        </div>
                        <div class="px-3 pb-3">
                            <button class="w-100 bg-orange text-uppercase text-white fw-600">dùng ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>