<!DOCTYPE html>
<html>
<body>
<footer>
    <div class="container">
        <div class="row">
            <div class="footer-content col-lg-3 col-6">
                <h3>Giới thiệu</h3>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Thoả thuận sử dụng</li>
                    <li>Quy chế hoạt động</li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
            <div class="footer-content col-lg-3 col-6">
                <h3>Giới thiệu</h3>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Thoả thuận sử dụng</li>
                    <li>Quy chế hoạt động</li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
            <div class="footer-content col-lg-3 col-6">
                <h3>Giới thiệu</h3>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Thoả thuận sử dụng</li>
                    <li>Quy chế hoạt động</li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
            <div class="footer-content col-lg-3 col-6">
                <h3>Giới thiệu</h3>
                <ul>
                    <li>Về chúng tôi</li>
                    <li>Thoả thuận sử dụng</li>
                    <li>Quy chế hoạt động</li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>