<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<title>CINEMA</title>
<th:block id="css">
    <link rel="stylesheet" href="/css/pages/booking.css">
</th:block>
<body>
<main>
    <th:block id="content">
        <div class="line"></div>
        <div class="booking-bar">
            <ul class="d-flex justify-content-center">
                <li class="active">
                    <div class="process">
                        Chọn phim / Rạp / Suất
                    </div>
                    <div class="process-line active"></div>
                </li>
                <li>
                    <div class="process">
                        Chọn ghế
                    </div>
                    <div class="process-line"></div>
                </li>
                <li>
                    <div class="process">
                        Chọn thức ăn
                    </div>
                    <div class="process-line"></div>
                </li>
                <li>
                    <div class="process">
                        Thanh toán
                    </div>
                    <div class="process-line"></div>
                </li>
                <li>
                    <div class="process">
                        Xác nhận
                    </div>
                    <div class="process-line"></div>
                </li>

            </ul>
        </div>
        <main class="pt-4 pb-5">
            <div class="container px-1">
                <div class="booking-body">
                    <div class="row px-3">
                        <div class="col-lg-8">
                            <div id="stage">

                            </div>
                        </div>
                        <div class="col-lg-4 py-3 ps-3">
                            <th:block th:replace="~{fragments/showtime-detail :: .content}">
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </th:block>
</main>
<th:block id="js">
    <script type="text/javascript" src="/js/booking/booking.js"></script>
    <script type="text/javascript" src="/js/booking/stage-one.js"></script>
</th:block>
</body>
</html>