
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<title>CINEMA</title>
<th:block id="css">
    <link rel="stylesheet" href="/css/pages/booking.css">
</th:block>

<body>
<main>
    <th:block id="content">
        <div class="line"></div>
        <th:block th:replace="~{booking/fragments/booking-bar :: .content}">
        </th:block>
        <main class="pt-4 pb-5">
            <div class="container px-1">
                <div class="booking-body">
                    <div class="row px-3">
                        <div class="col-lg-8">
                            <div id="stage"></div>
                            <div id="stage-two">
                            </div>
                        </div>
                        <div class="col-lg-4 py-3 ps-3">
                            <th:block th:replace="~{booking/fragments/ticket :: .content}">
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </th:block>

    <th:block id="js">
        <script th:inline="javascript">
            let showtime = [[${showtime}]]
            const stage = [[${stage}]]
            const code = [[${code}]]
            const bill = [[${bill}]]
        </script>
        <script type="text/javascript" src="/js/booking/fragments.js"></script>
        <script type="text/javascript" src="/js/booking/stage-one.js"></script>
        <script type="text/javascript" src="/js/booking/stage-two.js"></script>
        <script type="text/javascript" src="/js/booking/stage-five.js"></script>
        <script type="text/javascript" src="/js/booking/booking.js"></script>
        <script type="text/javascript" src="/js/booking/stage-three.js"></script>
        <script type="text/javascript" src="/js/booking/stage-four.js"></script>
    </th:block>
</main>
</body>
</html>
