<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin Movie Create</title>

    <th:block id="css">
        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/dist/css/style.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-index">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/movie">Movie</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tạo phim
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <a href="/admin/movie" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </a>
                        <button type="button" class="btn btn-info px-4" id="btn-create">
                            Tạo
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form-movie">
                                    <div class="row">
                                        <div class="col-md-8 ">
                                            <div class="form-group">
                                                <label for="name">Tên phim</label>
                                                <input type="text" class="form-control" id="name" name="name"/>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="slug">Slug</label>
                                                <input type="text" class="form-control" id="slug" name="slug"/>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="trailer">Trailer URL</label>
                                                <input id="trailer" class="form-control" name="trailer">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="description">Mô tả </label>
                                                <textarea id="description" name="description" class="form-control" rows="7"></textarea>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="genre">Thể loại</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple" name="genre" id="genre">
                                                        <option th:each="genre : ${genres}"
                                                                th:value="${genre.id}"
                                                                th:text="${genre.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="actor">Diễn viên</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" name="actor" multiple="multiple" id="actor">
                                                        <option th:each="actor : ${actors}"
                                                                th:value="${actor.id}"
                                                                th:text="${actor.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="director">Đạo diễn</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="director" name="director">
                                                        <option th:each="director : ${directors}"
                                                                th:value="${director.id}"
                                                                th:text="${director.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="producer">Nhà sản xuất</label>
                                                <input id="producer" type="text" class="form-control">
                                            </div>
                                            <div class="form-group mt-3">
                                                <div class="banner-preview-container mb-3">
                                                    <p>Ảnh Banner</p>
                                                    <img src="" alt="" id="bannerImg">
                                                </div>
                                                <label for="input-bannerImg" class="btn btn-info btn-flat"
                                                       data-toggle="modal" data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-bannerImg" name="bannerImg" class="d-none">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="status">Trạng thái</label>
                                                <select id="status" name="status" class="form-control">
                                                    <option value="0">
                                                        Nháp
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="releaseDate">Ngày phát hành</label>
                                                <input type="date" class="form-control" id="releaseDate"
                                                       name="releaseDate"/>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="duration">Thời lượng phim</label>
                                                <input type="text" class="form-control" id="duration"
                                                       name="duration"/>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="rating">Đánh giá</label>
                                                <input id="rating" name="rating" type="text" class="form-control">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="ratingCount">Tổng số người dùng đánh giá</label>
                                                <input id="ratingCount" name="ratingCount" type="text" class="form-control">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="graphicsType">Hình thức chiếu</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="graphicsType" name="graphicsType">
                                                        <option th:each="graphicsType : ${graphicsTypes}"
                                                                th:value="${graphicsType}"
                                                                th:text="${graphicsType}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="translationTypes">Hình thức dịch</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="translationTypes" name="translationTypes">
                                                        <option th:each="translation : ${translationTypes}"
                                                                th:value="${translation}"
                                                                th:text="${translation}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="ageRequirement">Giới hạn tuổi</label>
                                                <select id="ageRequirement" name="ageRequirement" class="form-control">
                                                    <option th:each="age : ${movieAges}"
                                                            th:text="${age}"
                                                            th:value="${age}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="country">Quốc gia</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="country" name="country">
                                                        <option th:each="country : ${countries}"
                                                                th:value="${country.id}"
                                                                th:text="${country.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <div class="thumbnail-preview-container mb-3">
                                                    <p>Ảnh Poster</p>
                                                    <img src="" alt="" id="poster">
                                                </div>
                                                <label for="input-poster" class="btn btn-info btn-flat"
                                                       data-toggle="modal" data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-poster" name="poster" class="d-none">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <!-- AdminLTE App -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>

    <!-- Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/dist/js/page/movie.js"></script>

    <script>
        document.getElementById("btn-create").addEventListener("click", async (e) => {
            if (!$('#form-movie').valid()) return;
            try {
                await axios.post(`/admin/api/v1/movie/create`, getMovieData());
                toastShow("Tạo phim thành công", "success");
                setTimeout(() => {
                    window.location.href = "/admin/movie";
                }, 1500)
            } catch (error) {
                toastShow(error.response.data.message, "error");
                console.error(error);
            }
        })
    </script>

</th:block>
</body>

</html>