<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Admin Movie [[${cinema.name}]]</title>

    <th:block id="css">
        <link href="/plugins/select2/css/select2.min.css" rel="stylesheet"/>
        <link href="/dist/css/style.css" rel="stylesheet">
        <link href="/dist/css/pages/booking.css" rel="stylesheet">
        <style></style>
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="notyf" style="justify-content: flex-start; align-items: flex-end;"></div>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-index">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <nav class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/cinema">Danh sách Rạp</a>
                            </li>
                            <li class="breadcrumb-item active">
                                [[${cinema.name}]]
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <a class="btn btn-default" href="/admin/cinema">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </a>
                        <button class="btn btn-info px-3" id="btn-update" type="button">
                            <i class="fa-regular fa-floppy-disk me-1"></i>
                            Lưu
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-danger px-3" data-bs-target="#centeredModalDanger" data-bs-toggle="modal"
                                th:if="${cinema.deleted == false}" type="button">
                            <i class="fa-regular fa-trash-can me-1"></i>
                            Xóa
                        </button>
                        <button class="btn btn-primary px-3" data-bs-target="#centeredModalPrimary"
                                data-bs-toggle="modal"
                                th:if="${cinema.deleted == true}" type="button">
                            <i class="fa-solid fa-arrow-rotate-right me-1"></i>
                            Khôi phục
                        </button>
                    </div>
                </div>
                <div aria-hidden="true" class="modal fade" id="centeredModalDanger" style="display: none;"
                     tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered px-5" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Xác nhận xóa rạp: [[${cinema.name}]]</h4>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body m-3 text-center">
                                <h4 class="mb-0">Bạn chắc chắn muốn xóa rạp này?</h4>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Hủy</button>
                                <button class="btn btn-danger" id="delete-cinema" type="button">Xác nhận xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="modal fade" id="centeredModalPrimary" style="display: none;"
                     tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered px-5" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Xác nhận khôi phục rạp: [[${cinema.name}]]</h4>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body m-3 text-center">
                                <h4 class="mb-0">Bạn chắc chắn muốn khôi phục bộ rạp này?</h4>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Hủy</button>
                                <button class="btn btn-primary" id="restore-cinema" type="button">Khôi phục</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title">Thông tin rạp chiếu</h5>
                        </div>
                        <div class="card-body pt-0">
                            <form id="form-cinema">
                                <div class="row">
                                    <div class="col-md-8 ">
                                        <div class="form-group">
                                            <label for="name">Tên Rạp</label>
                                            <input class="form-control" id="name" name="name"
                                                   th:value="${cinema.name}"
                                                   type="text"/>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="address">Địa chỉ</label>
                                            <textarea class="form-control" id="address" name="address"
                                                      rows="4" th:text="${cinema.address}"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="status">Trạng thái</label>
                                            <select class="form-control" id="status" name="status">
                                                <option th:selected="${!cinema.enabled}" value="0">
                                                    Nháp
                                                </option>
                                                <option th:selected="${cinema.enabled}" value="1">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="city">Thành Phố</label>
                                            <select class="form-control" id="city" name="city">
                                                <option th:each="city : ${cities}"
                                                        th:value="${city.id}"
                                                        th:text="${city.name}"
                                                        th:selected="${cinema.city == city}"></option>
                                            </select>
                                        </div>
                                        <div class="d-flex mt-3">
                                            <div class="form-group ">
                                                <label for="lat">Vĩ độ</label>
                                                <input class="form-control" id="lat" name="lat"
                                                       th:value="${cinema.lat}"
                                                       type="text">
                                            </div>
                                            <div class="ms-4 form-group ">
                                                <label for="lng">Kinh độ</label>
                                                <input class="form-control" id="lng" name="lng"
                                                       th:value="${cinema.lng}"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-7 col-xxl-8">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between pb-0">
                            <h5 class="card-title">Danh sách phòng chiếu</h5>
                            <a data-bs-toggle="modal" data-bs-target="#createAudModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus align-middle me-2"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width:40%;">Tên Phòng</th>
                                    <th style="width:30%">Loại Phòng Chiếu</th>
                                    <th class="d-none d-md-table-cell" style="width:25%">Trạng thái</th>
                                    <th >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${auditoriums}">
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.auditoriumType}"></td>
                                    <td th:text="${item.enabled ? 'Công khai' : 'Nháp'}">Công khai</td>
                                    <td class="table-action d-flex text-center">
                                        <a class="me-1" th:attr="data-aud-id=${item.id}" onclick="editAud(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                                        <a th:attr="data-aud-id=${item.id}" onclick="removeAud(this)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="aud-modal">
                        <div class="modal fade" id="createAudModal" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class=" modal-title">Thông tin rạp </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <form id="form-create-aud">
                                            <div class="form-group">
                                                <label for="create-aud-name">Tên Rạp</label>
                                                <input class="form-control" id="create-aud-name"
                                                       name="name"
                                                       type="text"/>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-type">Loại phòng chiếu</label>
                                                <select class="form-control" id="create-aud-type" name="create-aud-type">
                                                    <option th:each="type : ${audType}"
                                                            th:value="${type}"
                                                            th:text="${type}">

                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-status">Trạng Thái</label>
                                                <select class="form-control" id="create-aud-status" name="create-aud-status">
                                                    <option value="0">
                                                        Nháp
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-total-row-chair">Tổng số hàng ghế</label>
                                                <input class="form-control" id="create-aud-total-row-chair"
                                                       name="name"
                                                       type="number"/>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-total-column-chair">Tổng số cột ghế</label>
                                                <input class="form-control" id="create-aud-total-column-chair"
                                                       name="name"
                                                       type="number"/>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="aud-create" class="btn btn-success">Tạo mới</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="auditoriumModal" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class=" modal-title">Thông tin rạp </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <form id="form-aud">
                                            <div class="form-group">
                                                <label for="aud-name">Tên Rạp</label>
                                                <input class="form-control" id="aud-name"
                                                       name="name"
                                                       type="text"/>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="aud-type">Loại phòng chiếu</label>
                                                <select class="form-control" id="aud-type" name="aud-type">

                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="aud-status">Trạng Thái</label>
                                                <select class="form-control" id="aud-status" name="aud-status">
                                                    <option value="0">
                                                        Nháp
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="aud-update" class="btn btn-primary">Lưu Thay Đổi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="removeAuditoriumModal" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class=" modal-title">Thông tin rạp </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="aud-remove-message" class="modal-body m-3">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="aud-remove" class="btn btn-danger">Xác nhận xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-5 col-xxl-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title">Thông tin ghế</h5>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Tổng số hàng ghế</th>
                                    <th class="text-center">Tổng số cột ghế</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${auditoriums}">
                                    <td class="text-center">
                                        [[${item.totalRowChair}]]
                                    </td>
                                    <td class="text-center">[[${item.totalColumnChair}]]</td>
                                    <td class="table-action text-center">
                                        <a class="me-1" onclick="seatShowBtn(this)" th:attr="data-aud-id=${item.id}">
                                            <svg class="feather feather-edit-2 align-middle" fill="none" height="24"
                                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                 viewBox="0 0 24 24" width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-seat">
                        <div aria-hidden="true" class="modal fade" id="seatModal" style="display: none;"
                             tabindex="-1">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h4 class="modal-title">Thông tin ghế</h4>
                                        </div>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-header">
                                        <div id="toolbar" class="d-flex w-100 justify-content-between align-items-center">
                                            <div class="ms-3 d-flex align-items-center">
                                                <strong class="fs-14px">Toolbar</strong>
                                                <button id="move" class="seat">
                                                    <i class="fa-solid fa-lg fa-arrows-up-down-left-right"></i>
                                                </button>
                                                <div id="addAction" class="ms-1 d-flex align-items-center">
                                                    <button class="newBlock no-delete seat">
                                                    </button>
                                                    <button class="newSeat seat">
                                                        <i class="fa-solid fa-plus fa-lg"></i>
                                                    </button>
                                                </div>
                                                <button id="orderConsistencyCheck" class="position-relative seat">
                                                    <i class="fa-solid fa-arrow-up-9-1 "></i>
                                                    <i class="position-absolute fa-regular fa-circle-check" style="bottom: -5px; right: -6px"></i>
                                                </button>
                                                <button id="remove" class="seat">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                                <button id="save" class="seat">
                                                    <i class="fa-regular fa-lg fa-floppy-disk"></i>
                                                </button>
                                                <button id="return" class="seat">
                                                    <i class="fa-solid fa-arrow-rotate-left"></i>
                                                </button>

                                            </div>
                                            <div class="me-3">
                                                <span class="text-sm cursor-pointer">docs</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="bg-white p-4" id="seat-container">
                                            <div class="" id="seat-map"></div>
                                        </div>
                                        <p class="text-black-50 mt-5 text-center fs-12px">Màn Hình</p>
                                        <div class="screen-line"></div>
                                        <div class="my-4 d-flex justify-content-between">
                                            <div class="d-flex" style="gap: 0.25rem">
                                                <div>
                                                    <button class="seat-demo seat-off">
                                                        <i class="fa-solid fa-ban"></i>
                                                    </button>
                                                    <span class="fs-14px text-black-50">Ghế đã tắt</span>
                                                </div>
                                                <div>
                                                    <button class="seat-demo block"></button>
                                                    <span class="fs-14px text-black-50">Khối</span>
                                                </div>
                                            </div>
                                            <div class="d-flex" style="gap: 0.25rem">
                                                <div class="d-flex align-items-end">
                                                    <div class="div-seat-double-demo d-flex">
                                                        <button class="seat-demo m-0 border-0 seat-double"></button>
                                                        <button class="seat-demo m-0 border-0 seat-double"></button>
                                                    </div>
                                                    <span class="ms-2 w-100 fs-14px text-black-50"
                                                          style="margin-bottom: 3px">Ghế Đôi</span>
                                                </div>
                                                <div>
                                                    <button class="seat-demo seat-vip"></button>
                                                    <span class="fs-14px text-black-50">Ghế VIP</span>
                                                </div>
                                                <div>
                                                    <button class="seat-demo">N</button>
                                                    <span class="fs-14px text-black-50">Ghế Thường</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Đóng
                                        </button>
                                        <button id="seat-bin-btn" class="btn btn-warning" onclick="seatBin()">Thùng rác</button>
                                        <button id="seat-map-btn" class="btn btn-success d-none" onclick="seatShow()">Quay Lại</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" class="modal fade" id="editSeatModal" style="display: none;"
                             tabindex="-1">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit-seat-title">Centered modal</h4>
                                        <button class="btn-close" data-bs-target="#seatModal" data-bs-toggle="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body m-3" id="edit-seat-body">
                                        <form id="form-seat">
                                            <div class="form-group">
                                                <label for="seat-status">Trạng thái</label>
                                                <select class="form-control" id="seat-status"
                                                        name="status">
                                                    <option value="0">
                                                        Tắt
                                                    </option>
                                                    <option value="1">
                                                        Bật
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="seat-type">Loại ghế</label>
                                                <select class="form-control" id="seat-type"
                                                        name="type">
                                                    <option th:each="type : ${seatTypes}"
                                                            th:text="${type}"
                                                            th:value="${type}">
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="edit-seat-close" class="btn btn-secondary" data-bs-target="#seatModal"
                                                data-bs-toggle="modal" type="button">
                                            Đóng
                                        </button>
                                        <button class="btn btn-danger d-none" id="seat-single-delete" type="button">Xóa ghế</button>
                                        <button class="btn btn-success d-none" id="seat-single-restore" type="button">Khôi phục</button>
                                        <button class="btn btn-primary" id="seat-update" type="button">Lưu thay
                                            đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteSeatModal" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 id="remove-seat-title" class="modal-title">Centered modal</h4>
                                        <button class="btn-close" data-bs-target="#seatModal" data-bs-toggle="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <div id="remove-seat-message">Bạn có xác nhận xóa thông tin tất cả ghế?</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-target="#seatModal"
                                                data-bs-toggle="modal" type="button">
                                            Đóng
                                        </button>
                                        <button id="seat-delete" type="button" class="btn btn-danger">Xác nhận xóa</button>
                                        <button id="seat-restore" type="button" class="btn btn-primary">Khôi phục</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <!-- AdminLTE App -->
    <script src="/plugins/select2/js/select2.full.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <!-- Validation -->
    <script crossorigin="anonymous"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>

    <script th:inline="javascript">
        const cinema = [[${cinema}]];
        const auditoriums = [[${auditoriums}]];
        const audType = [[${audType}]];
    </script>

    <script>
        const moveButton = document.getElementById('move');
        const removeBtn = document.getElementById('remove');
        const returnBtn = document.getElementById('return');
        const saveBtn = document.getElementById('save');
        const orderConsistencyCheckBtn = document.getElementById('orderConsistencyCheck');


        let blockIds = [];

        moveButton.addEventListener('click', () => {
            const rowLists = document.querySelectorAll('.seat-list');
            const isActive = moveButton.classList.toggle('active');

            if (isActive) {
                rowLists.forEach(row => row.classList.remove('filtered'));
            } else {
                rowLists.forEach(row => row.classList.add('filtered'));
            }
        });

        removeBtn.addEventListener('click', () => {
            const isActive = removeBtn.classList.toggle('active');

            const cloneItems = document.querySelectorAll('.clone-item');
            const blockItems = document.querySelectorAll('.block');

            if (isActive) {
                cloneItems.forEach(item => {
                    item.addEventListener('click', removeItem);
                });
                blockItems.forEach(item => {
                    item.addEventListener('click', removeBlockEl);
                });
            } else {
                cloneItems.forEach(item => {
                    item.removeEventListener('click', removeItem);
                });
                blockItems.forEach(item => {
                    item.removeEventListener('click', removeBlockEl);
                });
            }
        });

        returnBtn.addEventListener('click', () => {
            blockIds = [];
            seatShow();
            toolbarReset();
        });

        orderConsistencyCheckBtn.addEventListener('click', async () => {
            try {
                await axios.put(`/admin/api/v1/seat/order-verification/${audId}`);
                await seatShow();
                toastShow('Đã sắp xếp lại thứ tự ghế thành công!','success');
            } catch (error) {
                console.error(error);
            }
        })

        saveBtn.addEventListener('click', async () => {
            let dataNewBlock = getBlockData('#seat-map .newBlock', false);
            let dataMovedBlock = getBlockData('#seat-map .block.moved', true);
            let dataNewSeat = getNewSeatData('#seat-map .newSeat', false);

            if (dataNewSeat.length > 0) {
                await createSeat(dataNewSeat);
            }

            if (dataNewBlock.length > 0) {
                await createBlock(dataNewBlock);
            }

            if (blockIds.length > 0) {
                await deleteBlock(blockIds);
            }

            if (dataMovedBlock.length > 0) {
                await updateMovedBlock(dataMovedBlock);
            }

            await seatShow();
            toolbarReset();
            toastShow('Đã lưu thay đổi!', 'success');
        });

        function removeItem(e) {
            if (e.target.parentElement.classList.contains('no-delete')) {
                toastShow('Không thể xóa phần tử này', 'error');
                return;
            }
            e.target.remove();
        }

        function removeBlockEl(e) {
            blockIds.push(parseInt(e.target.getAttribute('data-block-id'), 10));

            console.log(blockIds);
            e.target.remove();
        }

        function toolbarReset() {
            moveButton.classList.remove('active');
            removeBtn.classList.remove('active');
        }

        new Sortable(document.getElementById("addAction"), {
            group: {
                name: 'shared',
                pull: 'clone',
                put: false
            },
            animation: 150,
            sort: false,
            onStart: function(evt) {
                evt.item.classList.add('clone-item');
            }
        });
    </script>

    <script type="text/javascript">
        function getNewSeatData(selector, isMovedBlock) {
            const seats = document.querySelectorAll(selector);
            let data = [];

            seats.forEach(function(block) {
                const { startColumn, positions } = calculateSeatPosition(block);

                data.push({
                    seatId: isMovedBlock ? block.getAttribute('data-block-id') : undefined, // Chỉ có khi là block moved
                    audId: audId,
                    seatRow: block.parentElement.getAttribute('data-row'),
                    startColumn: startColumn,  // Cột bắt đầu
                    endColumn: startColumn + 1,  // Cột kết thúc
                    positions: positions  // Số vị trí
                });
            });

            return data;
        }

        async function createSeat(data) {
            try {
                await axios.post(`/admin/api/v1/seat/create`, data).then(() => {
                });
            } catch (error) {
                console.error(error);
            }
        }

        function calculateSeatPosition(block) {
            let startColumn;
            let positions = 1;

            let prev = block.previousElementSibling;

            while (prev != null && prev.classList.contains('newBlock')) {
                prev = prev.previousElementSibling;
            }

            while (prev != null && prev.classList.contains('newBlock')) {
                positions++;
                prev = prev.previousElementSibling;
            }

            if (prev == null) {
                startColumn = 0;
            } else if (prev.classList.contains('div-seat-double')) {
                let dataColumn = prev.lastElementChild.getAttribute('data-column');
                startColumn = dataColumn !== null ? parseInt(dataColumn, 10) : 0;
            } else {
                let dataColumn = prev.getAttribute('data-column');
                startColumn = dataColumn !== null ? parseInt(dataColumn, 10) : 0;
            }

            return { startColumn, positions };
        }
    </script>

    <script src="/dist/js/page/cinema.js"></script>
    <script src="/dist/js/data/cinemaClientService.js"></script>
    <script src="/dist/js/data/audClientService.js"></script>
    <script src="/dist/js/data/seatClientService.js"></script>
    <script src="/dist/js/data/blockClientService.js"></script>
</th:block>
</body>

</html>