<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Admin Movie [[${cinema.name}]]</title>

    <th:block id="css">
        <link href="/plugins/select2/css/select2.min.css" rel="stylesheet"/>
        <link href="/dist/css/style.css" rel="stylesheet">
        <link href="/dist/css/pages/booking.css" rel="stylesheet">

    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="notyf" style="justify-content: flex-start; align-items: flex-end;"></div>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-index">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <nav class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/cinema">Danh sách Rạp</a>
                            </li>
                            <li class="breadcrumb-item active">
                                [[${cinema.name}]]
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <a class="btn btn-default" href="/admin/cinema">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </a>
                        <button class="btn btn-info px-3" id="btn-update" type="button">
                            <i class="fa-regular fa-floppy-disk me-1"></i>
                            Lưu
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-danger px-3" data-bs-target="#centeredModalDanger" data-bs-toggle="modal"
                                th:if="${cinema.deleted == false}" type="button">
                            <i class="fa-regular fa-trash-can me-1"></i>
                            Xóa
                        </button>
                        <button class="btn btn-primary px-3" data-bs-target="#centeredModalPrimary"
                                data-bs-toggle="modal"
                                th:if="${cinema.deleted == true}" type="button">
                            <i class="fa-solid fa-arrow-rotate-right me-1"></i>
                            Khôi phục
                        </button>
                    </div>
                </div>
                <div aria-hidden="true" class="modal fade" id="centeredModalDanger" style="display: none;"
                     tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered px-5" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Xác nhận xóa rạp: [[${cinema.name}]]</h4>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body m-3 text-center">
                                <h4 class="mb-0">Bạn chắc chắn muốn xóa rạp này?</h4>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Hủy</button>
                                <button class="btn btn-danger" id="delete-cinema" type="button">Xác nhận xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="modal fade" id="centeredModalPrimary" style="display: none;"
                     tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered px-5" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Xác nhận khôi phục rạp: [[${cinema.name}]]</h4>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body m-3 text-center">
                                <h4 class="mb-0">Bạn chắc chắn muốn khôi phục bộ rạp này?</h4>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Hủy</button>
                                <button class="btn btn-primary" id="restore-cinema" type="button">Khôi phục</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title">Thông tin rạp chiếu</h5>
                        </div>
                        <div class="card-body pt-0">
                            <form id="form-cinema">
                                <div class="row">
                                    <div class="col-md-8 ">
                                        <div class="form-group">
                                            <label for="name">Tên Rạp</label>
                                            <input class="form-control" id="name" name="name"
                                                   th:value="${cinema.name}"
                                                   type="text"/>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="address">Địa chỉ</label>
                                            <textarea class="form-control" id="address" name="address"
                                                      rows="4" th:text="${cinema.address}"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="status">Trạng thái</label>
                                            <select class="form-control" id="status" name="status">
                                                <option th:selected="${!cinema.enabled}" value="0">
                                                    Nháp
                                                </option>
                                                <option th:selected="${cinema.enabled}" value="1">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="city">Thành Phố</label>
                                            <select class="form-control" id="city" name="city">
                                                <option th:each="city : ${cities}"
                                                        th:value="${city.id}"
                                                        th:text="${city.name}"
                                                        th:selected="${cinema.city == city}"></option>
                                            </select>
                                        </div>
                                        <div class="d-flex mt-3">
                                            <div class="form-group ">
                                                <label for="lat">Vĩ độ</label>
                                                <input class="form-control" id="lat" name="lat"
                                                       th:value="${cinema.lat}"
                                                       type="text">
                                            </div>
                                            <div class="ms-4 form-group ">
                                                <label for="lng">Kinh độ</label>
                                                <input class="form-control" id="lng" name="lng"
                                                       th:value="${cinema.lng}"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-7 col-xxl-8">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between pb-0">
                            <h5 class="card-title">Danh sách phòng chiếu</h5>
                            <a data-bs-toggle="modal" data-bs-target="#createAudModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus align-middle me-2"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width:40%;">Tên Phòng</th>
                                    <th style="width:30%">Loại Phòng Chiếu</th>
                                    <th class="d-none d-md-table-cell" style="width:25%">Trạng thái</th>
                                    <th >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${auditoriums}">
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.auditoriumType}"></td>
                                    <td th:text="${item.enabled ? 'Công khai' : 'Nháp'}">Công khai</td>
                                    <td class="table-action d-flex text-center">
                                        <a class="me-1" th:attr="data-aud-id=${item.id}" onclick="editAud(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                                        <a th:attr="data-aud-id=${item.id}" onclick="removeAud(this)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="aud-modal">
                        <div class="modal fade" id="createAudModal" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class=" modal-title">Thông tin rạp </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <form id="form-create-aud">
                                            <div class="form-group">
                                                <label for="create-aud-name">Tên Rạp</label>
                                                <input class="form-control" id="create-aud-name"
                                                       name="name"
                                                       type="text"/>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-type">Loại phòng chiếu</label>
                                                <select class="form-control" id="create-aud-type" name="create-aud-type">
                                                    <option th:each="type : ${audType}"
                                                            th:value="${type}"
                                                            th:text="${type}">

                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-status">Trạng Thái</label>
                                                <select class="form-control" id="create-aud-status" name="create-aud-status">
                                                    <option value="0">
                                                        Nháp
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-total-row-chair">Tổng số hàng ghế</label>
                                                <input class="form-control" id="create-aud-total-row-chair"
                                                       name="name"
                                                       type="number"/>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="create-aud-total-column-chair">Tổng số cột ghế</label>
                                                <input class="form-control" id="create-aud-total-column-chair"
                                                       name="name"
                                                       type="number"/>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="aud-create" class="btn btn-success">Tạo mới</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="auditoriumModal" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class=" modal-title">Thông tin rạp </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <form id="form-aud">
                                            <div class="form-group">
                                                <label for="aud-name">Tên Rạp</label>
                                                <input class="form-control" id="aud-name"
                                                       name="name"
                                                       type="text"/>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="aud-type">Loại phòng chiếu</label>
                                                <select class="form-control" id="aud-type" name="aud-type">

                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="aud-status">Trạng Thái</label>
                                                <select class="form-control" id="aud-status" name="aud-status">
                                                    <option value="0">
                                                        Nháp
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="aud-update" class="btn btn-primary">Lưu Thay Đổi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="removeAuditoriumModal" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class=" modal-title">Thông tin rạp </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="aud-remove-message" class="modal-body m-3">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="aud-remove" class="btn btn-danger">Xác nhận xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-5 col-xxl-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title">Thông tin ghế</h5>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Tổng số cột ghế</th>
                                    <th class="text-center">Tổng số hàng ghế</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${auditoriums}">
                                    <td class="text-center">
                                        [[${item.totalRowChair}]]
                                    </td>
                                    <td class="text-center">[[${item.totalColumnChair}]]</td>
                                    <td class="table-action text-center">
                                        <a class="me-1" onclick="seatShowBtn(this)" th:attr="data-aud-id=${item.id}">
                                            <svg class="feather feather-edit-2 align-middle" fill="none" height="24"
                                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                 viewBox="0 0 24 24" width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-seat">
                            <div aria-hidden="true" class="modal fade" id="seatModal" style="display: none;"
                                 tabindex="-1">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Thông tin ghế</h4>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="bg-white p-4" id="seat-container">
                                                <div class="" id="seat-map"></div>
                                            </div>
                                            <p class="text-black-50 mt-5 text-center fs-12px">Màn Hình</p>
                                            <div class="screen-line"></div>
                                            <div class="my-4 d-flex justify-content-between">
                                                <div class="d-flex" style="gap: 0.25rem">
                                                    <div>
                                                        <button class="seat-demo seat-off">
                                                            <i class="fa-solid fa-xmark fa-2xl"></i>
                                                        </button>
                                                        <span class="fs-14px text-black-50">Ghế đã tắt</span>
                                                    </div>
                                                    <div>
                                                        <button class="seat-demo block"
                                                                style="background-color: #034EA2 "></button>
                                                        <span class="fs-14px text-black-50">Khối</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex" style="gap: 0.25rem">
                                                    <div class="d-flex align-items-end">
                                                        <div class="div-seat-double-demo">
                                                            <button class="seat-demo m-0 border-0 seat-double"></button>
                                                            <button class="seat-demo m-0 border-0 seat-double"></button>
                                                        </div>
                                                        <span class="ms-2 w-100 fs-14px text-black-50"
                                                              style="margin-bottom: 3px">Ghế Đôi</span>
                                                    </div>
                                                    <div>
                                                        <button class="seat-demo seat-vip"></button>
                                                        <span class="fs-14px text-black-50">Ghế VIP</span>
                                                    </div>
                                                    <div>
                                                        <button class="seat-demo"></button>
                                                        <span class="fs-14px text-black-50">Ghế Thường</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                                Đóng
                                            </button>
                                            <button id="seat-bin-btn" class="btn btn-warning" onclick="seatBin()">Thùng rác</button>
                                            <button id="seat-map-btn" class="btn btn-success d-none" onclick="seatShow()">Quay Lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="modal fade" id="editSeatModal" style="display: none;"
                                 tabindex="-1">
                                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="edit-seat-title">Centered modal</h4>
                                            <button class="btn-close" data-bs-target="#seatModal" data-bs-toggle="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body m-3" id="edit-seat-body">
                                            <form id="form-seat">
                                                <div class="form-group">
                                                    <label for="seat-status">Trạng thái</label>
                                                    <select class="form-control" id="seat-status"
                                                            name="status">
                                                        <option value="0">
                                                            Tắt
                                                        </option>
                                                        <option value="1">
                                                            Bật
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group mt-3">
                                                    <label for="seat-type">Loại ghế</label>
                                                    <select class="form-control" id="seat-type"
                                                            name="type">
                                                        <option th:each="type : ${seatTypes}"
                                                                th:text="${type}"
                                                                th:value="${type}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group mt-3">
                                                    <label for="seat-block">Chế độ</label>
                                                    <select class="form-control" id="seat-block"
                                                            name="block">
                                                        <option value="0">
                                                            Ghế Ngồi
                                                        </option>
                                                        <option value="1">
                                                            Khối
                                                        </option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-bs-target="#seatModal"
                                                    data-bs-toggle="modal" type="button">
                                                Đóng
                                            </button>
                                            <button class="btn btn-primary" id="seat-update" type="button">Lưu thay
                                                đổi
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deleteSeatModal" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 id="remove-seat-title" class="modal-title">Centered modal</h4>
                                            <button class="btn-close" data-bs-target="#seatModal" data-bs-toggle="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body m-3">
                                            <div id="remove-seat-message">Bạn có xác nhận xóa thông tin tất cả ghế?</div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-bs-target="#seatModal"
                                                    data-bs-toggle="modal" type="button">
                                                Đóng
                                            </button>
                                            <button id="seat-delete" type="button" class="btn btn-danger">Xác nhận xóa</button>
                                            <button id="seat-restore" type="button" class="btn btn-primary">Khôi phục</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <!-- AdminLTE App -->
    <script src="/plugins/select2/js/select2.full.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

    <!-- Validation -->
    <script crossorigin="anonymous"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>

    <script th:inline="javascript">
        const cinema = [[${cinema}]];
        const auditoriums = [[${auditoriums}]];
        const audType = [[${audType}]];
    </script>

    <script type="text/javascript">
        let seatData;
        let audId;
        let bin = false;

        function seatShowBtn(btn) {
            audId = btn.getAttribute('data-aud-id');
            seatShow();
        }

        async function seatBin() {
            document.getElementById('seat-bin-btn').classList.add('d-none');
            document.getElementById('seat-map-btn').classList.remove('d-none');
            try {
                const res = await axios.get(`/admin/api/v1/seat/aud-bin/${audId}`);
                seatData = res.data;
                bin = true;
                renderSeat(seatData);
            } catch (error) {
                toastShow(error.response.data.message, "error");
                console.error(error);
            }
        }

        async function seatShow() {
            document.getElementById('seat-bin-btn').classList.remove('d-none');
            document.getElementById('seat-map-btn').classList.add('d-none');
            try {
                const res = await axios.get(`/admin/api/v1/seat/aud/${audId}`);
                seatData = res.data;
                bin = false;
                renderSeat(seatData);
            } catch (error) {
                toastShow(error.response.data.message, "error");
                console.error(error);
            }
        }

        function renderSeat(data) {
            $('#seatModal').modal('show');

            const seatMap = document.getElementById('seat-map');
            seatMap.innerHTML = "";
            let rows = {};
            data.forEach(seat => {
                const row = seat.seatRow;
                if (!rows[row]) {
                    rows[row] = [];
                }
                rows[row].push(seat);
            });


            for (const row in rows) {
                const rowDiv = document.createElement('div');
                const rowNameS = document.createElement('button');
                const rowNameE = document.createElement('button');
                const rowList = document.createElement('div');

                rowNameS.className = 'seat';
                rowNameE.className = 'seat';

                rowDiv.className = 'seat-row';
                rowNameS.innerText = row;

                if (bin) {
                    rowNameE.innerHTML = `
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw align-middle"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>
                        `;
                    rowNameE.onclick = function () {
                        const seatIds = rows[row].map(seat => seat.id);
                        rowBtnRestore(row, seatIds);
                    };
                } else {
                    rowNameE.innerHTML = `
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                    `;
                    rowNameS.onclick = function () {
                        const seatIds = rows[row].map(seat => seat.id);
                        rowBtnClick(row, seatIds);
                    };
                    rowNameE.onclick = function () {
                        const seatIds = rows[row].map(seat => seat.id);
                        rowBtnDelete(row, seatIds);
                    };
                }

                rowDiv.appendChild(rowNameS);

                rowList.className = 'seat-list';
                let coupleDiv = null;
                let coupleCounter = 0;

                rows[row].forEach((seat) => {
                    if (seat.status === true) {
                        const seatBtn = document.createElement('button');

                        seatBtn.className = 'seat';
                        seatBtn.value = seat.id;
                        seatBtn.id = `seat-${seat.id}`;
                        seatBtn.innerText = `${seat.seatColumn}`;
                        seatBtn.onclick = () => seatBtnFunc(seat.id);

                        if (seat.type === 'COUPLE') {
                            if (coupleCounter % 2 === 0) {
                                coupleDiv = document.createElement('div');
                                coupleDiv.className = 'div-seat-double';
                                coupleDiv.onclick = function () {
                                    seatCoupleBtnFunc(this);
                                };
                                rowList.appendChild(coupleDiv);
                            }
                            seatBtn.classList.remove('seat');
                            seatBtn.classList.add('seat-double');
                            seatBtn.onclick = null;
                            coupleDiv.appendChild(seatBtn);
                            coupleCounter++;
                        } else {
                            rowList.appendChild(seatBtn);
                        }

                        if (seat.type === 'VIP') {
                            seatBtn.classList.add('seat-vip');
                        }
                    }
                    if (seat.status === false) {
                        const seatBtn = document.createElement('button');
                        seatBtn.classList.add('seat');
                        seatBtn.innerHTML = `<i class="fa-solid fa-xmark "></i>`;
                        rowList.appendChild(seatBtn);
                    }
                });

                rowDiv.appendChild(rowList);
                rowDiv.appendChild(rowNameE);
                seatMap.appendChild(rowDiv);
            }
        }

        function rowBtnClick(row, seatIds) {
            document.getElementById('edit-seat-title').innerHTML = `Chỉnh sửa thông tin hàng ghế <strong class="ms-1">${row}</strong> `;
            $('#seatModal').modal('hide');

            const seats = seatData.filter(seat => seatIds.includes(seat.id));

            $('#seat-status').val(seats[0].status ? '1' : '0');
            $('#seat-type').val(seats[0].type.toString());
            $('#seat-block').val(seats[0].block ? '1' : '0');

            $('#editSeatModal').modal('show');

            document.getElementById('seat-update').onclick = async () => {
                try {
                    const data = {
                        seatIds: seatIds,
                        status: parseInt($('#seat-status').val(), 10) === 1,
                        block: parseInt($('#seat-block').val(), 10) === 1,
                        type: $('#seat-type').val(),
                    };

                    await axios.put('/admin/api/v1/seat', data);
                    toastShow('Cập nhật thông tin ghế thành công!', 'success');
                    $('#editSeatModal').modal('hide');
                    await seatShow();
                } catch (error) {
                    toastShow(error.response.data.message, 'error');
                    console.error(error);
                }
            }
        }

        function rowBtnDelete(row, seatIds) {
            document.getElementById('remove-seat-title').innerHTML = `Xóa tất cả ghế thuộc hàng <strong class="ms-1">${row}</strong>`;
            document.getElementById('remove-seat-message').innerHTML = `Bạn có xác nhận <strong class="text-danger">Xóa</strong> thông tin tất cả ghế?`;

            document.getElementById('seat-delete').classList.remove('d-none');
            document.getElementById('seat-restore').classList.add('d-none');

            $('#seatModal').modal('hide');
            $('#deleteSeatModal').modal('show');

            document.getElementById('seat-delete').onclick = async () => {
                try {
                    await axios.put('/admin/api/v1/seat/delete', seatIds);
                    toastShow('Xóa thông tin ghế thành công!', 'success');
                    $('#deleteSeatModal').modal('hide');
                    await seatShow();
                } catch (error) {
                    toastShow(error.response.data.message, 'error');
                    console.error(error);
                }
            }
        }

        function rowBtnRestore(row, seatIds) {
            document.getElementById('remove-seat-title').innerHTML = `Khôi phục tất cả ghế thuộc hàng <strong class="ms-1">${row}</strong>`;
            document.getElementById('remove-seat-message').innerHTML = `Bạn có xác nhận <strong class="text-primary">Khôi phục</strong> thông tin tất cả ghế?`;

            document.getElementById('seat-delete').classList.add('d-none');
            document.getElementById('seat-restore').classList.remove('d-none');

            $('#seatModal').modal('hide');
            $('#deleteSeatModal').modal('show');

            document.getElementById('seat-restore').onclick = async () => {
                try {
                    await axios.put('/admin/api/v1/seat/restore', seatIds);
                    toastShow('Khôi phục thông tin ghế thành công!', 'success');
                    $('#deleteSeatModal').modal('hide');
                    await seatShow();
                } catch (error) {
                    toastShow(error.response.data.message, 'error');
                    console.error(error);
                }
            }
        }
    </script>

    <script src="/dist/js/page/cinema.js"></script>
    <script src="/dist/js/data/cinemaClientService.js"></script>
    <script src="/dist/js/data/audClientService.js"></script>
</th:block>
</body>

</html>