<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

    <title>ACCESS DENIED</title>

    <link rel="stylesheet" href="/dist/css/light.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<main class="d-flex w-100 h-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center">
                        <h1 class="display-1 fw-bold">403</h1>
                        <p class="h2">Lỗi</p>
                        <p class="lead fw-normal mt-3 mb-4">Bạn không có quyền truy cập vào đường dẫn này</p>
                        <a class="btn btn-primary btn-lg" href="/">Về trang chủ</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="/dist/js/template/app.js"></script>

</body>

</html>