<div class="content">
    <div class="booking-bar cursor-context-menu">
        <ul class="d-flex justify-content-center">
            <li class="active">
                <div class="process">
                    Chọn phim / Rạp / Suất
                </div>
                <div class="process-line active"></div>
            </li>
            <li>
                <div class="process">
                    Chọn ghế
                </div>
                <div class="process-line"></div>
            </li>
            <li>
                <div class="process">
                    Chọn thức ăn
                </div>
                <div class="process-line"></div>
            </li>
            <li>
                <div class="process">
                    Thanh toán
                </div>
                <div class="process-line"></div>
            </li>
            <li>
                <div class="process">
                    Xác nhận
                </div>
                <div class="process-line"></div>
            </li>
        </ul>
    </div>
</div>