<!DOCTYPE html>
<html lang="en">
<body>
    <div class="content">
        <div class="current-showtime w-100">
            <div class="line-detail"></div>
            <div class="showtime-detail p-3">
                <div class="showtime-detail-movie row">
                    <div class="col-lg-4">
                        <img src="https://www.galaxycine.vn/_next/static/media/img-blank.bb695736.svg"
                             alt="">
                    </div>
                    <div class="col-lg-8 ps-3">
                        <strong> - </strong>
                    </div>
                </div>
                <div class="showtime-detail-cinema mt-4">

                </div>
                <div class="dash-line"></div>
                <div class="showtime-detail-seat mt-4">

                </div>
                <div class="showtime-detail-price d-flex justify-content-between">
                    <strong>Tổng cộng</strong>
                    <strong class="text-orange">0 <span>đ</span></strong>
                </div>
            </div>
        </div>
        <div class="mt-5 d-flex">
            <button id="prev-page" class="text-orange w-100 me-1 py-2 border-0 ">Quay lại</button>
            <button id="next-page" class="w-100 ms-1 py-2 text-white bg-orange">Tiếp tục</button>
        </div>
    </div>
</body>
</html>