<div class="content">
    <div class="current-showtime w-100">
        <div class="line-ticket"></div>
        <div class="ticket p-3">
            <div class="ticket-movie row">
                <div class="col-lg-4">
                    <img src="https://www.galaxycine.vn/_next/static/media/img-blank.bb695736.svg"
                         alt="">
                </div>
                <div class="col-lg-8 ps-3">
                    <strong> - </strong>
                </div>
            </div>
            <div class="ticket-cinema mt-4">

            </div>
            <div class="dash-line"></div>
            <div class="ticket-seat d-none mt-4">
                <div class="d-flex justify-content-between">
                    <div class="fs-14px">
                        <strong id="number-seats-chose"></strong>
                        <strong> x </strong>
                        <span id="seat-type">Ghế thường</span></div>
                    <strong id="seat-price" class="fs-14px">70.000Đ</strong>
                </div>
                <div>
                    <span class="fs-14px text-black-50">Ghế: </span>
                    <strong id="seat-name" class="fs-14px"></strong>
                </div>
                <div class="dash-line"></div>
            </div>
            <div id="ticket-combo" class="d-none mt-4">
                <div class="combo-detail">

                </div>
                <div class="dash-line"></div>
            </div>
            <div class="ticket-price d-flex justify-content-between">
                <strong>Tổng cộng</strong>
                <strong class="text-orange">
                    <span id="total-price"></span>
                    <span>đ</span>
                </strong>
            </div>
        </div>
    </div>
    <div class="mt-5 d-flex">
        <button id="prev-page" class="text-orange w-100 me-1 py-2 border-0 ">Quay lại</button>
        <button id="next-page" class="disabled w-100 ms-1 py-2 text-white bg-orange">Tiếp tục</button>
    </div>
</div>

