<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(title, css, content, js)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:replace="${title}"></title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&amp;display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/dist/css/light.css">

    <th:block th:replace="${css}"></th:block>
</head>

<body>
<div>
        <th:block th:replace="${content}"></th:block>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/dist/js/template/app.js"></script>
<script src="/dist/js/utils/common.js"></script>
<th:block th:replace="${js}"></th:block>
</body>
</html>