<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-index}, ~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Schedule</title>

    <th:block id="css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <div class="content-index">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/schedule">Danh sách lịch chiếu</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-12">
                        <a href="/admin/post/create">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Tạo mới
                            </button>
                        </a>
                        <button type="button" id="btn-refresh" class="btn btn-info">
                            <i class="fas fa-redo"></i> Refresh
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-responsive table-striped" id="table-post">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 40%">Tên phim</th>
                                        <th class="text-center">Lịch chiếu</th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="text-center">Ngày cập nhật</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block id="js">
    <script>
        $('#table-post').DataTable({
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [10, 25, 50, 100],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "language" : languageTable,
        });

        window.addEventListener('load',async  function() {
            await getData()
        });


        $('#index-post-select').change(async function () {
            await getData()
        });

        async function getData () {
            try {
                insertDateTable(res.data);
            } catch (e) {
                console.error('Error:', e);
                toastShow("Có lỗi sảy ra khi thực hiện thao tác", "error")
            }
        }

        function insertDateTable(posts) {
            const tbody = document.getElementById('table-post').getElementsByTagName('tbody')[0];

            let html = '';

            posts.forEach(post => {
                html += `
            <tr>
                <td class="text-start">
                    <a href="/admin/post/${post.id}">${post.title}</a>
                </td>
                <td class="text-center">${post.type}</td>
                <td class="text-center">${post.view}</td>
                <td class="text-center">${post.status ? 'Công khai' : 'Nháp'}</td>
            </tr>
        `;
            });

            tbody.innerHTML = html;
        }
    </script>
</th:block>

</body>
</html>